/** Post Edit Section */
.postEdit {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    border-radius: 10px;
    z-index: 999;
    background-color: #fff;
}

/* Post Edit Top Section */
.postEditTop {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgray;
}

.postEditTop p {
    font-size: 19px;
    font-weight: 700;
}

.postEditTop .MuiSvgIcon-root {
    position: absolute;
    top: 11px;
    right: 12px;
    width: 32px;
    height: 32px;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #E4E6EB;
}

/* Post Edit Middle Section */
.postEditMiddle {
    display: flex;
    flex-direction: column;
    padding: 14px 14px 0 14px;
}

.postEditMiddleTop {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.postEditMiddleTop p {
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
}

.postEditMiddleMiddle {
    position: relative;
    display: flex;
    align-items: end;
}

.postEditMiddleMiddle textarea {
    width: 100%;
    font-weight: 400;
    padding: 0px;
    border: 0;
    outline: 0;
    resize: none;
    color: #050505;
}

.postEditMiddleMiddle textarea#mediaMsg {
    font-size: 14px;
}

.postEditMiddleMiddle textarea#nonmediaMsg {
    font-size: 22px;
}

.postEditMiddleMiddle svg {
    color: #E4E6EB;
}

.postEditMiddleBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 15px;
}

.postEditMiddleBottom .mediaContainer {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 15px;
}

.mediaContainer img#originalImg,
.mediaContainer video#originalVideo {
    width: 100%;
    height: 280px;
    padding: 8px;
    border-radius: 8px;
    object-fit: contain;
    border: 1px solid #CED0D4;
    background-color: #050505;
}

.postEditMiddleBottom svg#closeIcon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 28px;
    height: 28px;
    padding: 5px;
    border-radius: 50%;
    color: #050505;
    background-color: #fff;
}

.postEditMiddleBottom img {
    width: 40px;
    cursor: pointer;
}

.postEditMiddleBottom .MuiSvgIcon-root {
    width: 26px;
    height: 26px;
    cursor: pointer;
    color: lightgray;
}

/* Post Edit Bottom Section */
.postEditBottom {
    display: flex;
    flex-direction: column;
}

.postEditBottomTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 14px 14px 5px 14px;
    padding: 12px 10px;
}

.postEditBottomTop p {
    font-size: 15px;
    font-weight: 600;
}

.postEditBottomBottom {
    margin: 14px;
}

.postEditBottomBottom button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 0;
    border: 0;
    outline: 0;
    border-radius: 8px;
    cursor: pointer;
}

.postEditBottomBottom button#submitBtn {
    color: #fff;
    background-color: #2391fa;
}

.postEditBottomBottom button#notSubmitBtn {
    color: #BCC0C4;
    background-color: #E4E6EB;
}

.postEditBottomBottom .loadingSpin {
    width: 22px;
    height: 22px;
    border: 3px solid #2391fa;
    border-top: 3px solid #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Emoji Picker Section */
.postEditMiddleBottom .EmojiPickerReact,
.postEditMiddleMiddle .EmojiPickerReact {
    width: 260px !important;
    height: 240px !important;
    flex-direction: column-reverse !important;
    border-radius: 8px !important;
    position: absolute !important;
    top: 30px;
    right: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    padding: 0;
    z-index: 1;
}

.EmojiPickerReact .epr-header .epr-header-overlay {
    display: none;
}

.EmojiPickerReact .epr-category-nav {
    padding: 3px !important;
    border-top: 1px solid lightgrey;
}

.EmojiPickerReact li.epr-emoji-category>.epr-emoji-category-content {
    grid-template-columns: repeat(8, 1fr) !important;
    margin: 0 !important;
}

.EmojiPickerReact button.epr-emoji .epr-emoji-img {
    max-height: 35px !important;
    max-width: 35px !important;
    min-height: 35px !important;
    min-width: 35px !important;
    padding: 4px !important;
}

.EmojiPickerReact button.epr-emoji {
    height: 35px !important;
    max-height: 35px !important;
    max-width: 35px !important;
    width: 35px !important;
}

.EmojiPickerReact .epr-preview {
    display: none !important;
}

.EmojiPickerReact li.epr-emoji-category>.epr-emoji-category-label {
    font-size: 13px !important;
    font-weight: 500 !important;
    height: min-content !important;
    padding: 0px !important;
}

.EmojiPickerReact .epr-category-nav {
    justify-content: initial !important;
}