/** Authentication Section */
.authentication {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.authenticationInner {
    width: 65%;
    display: flex;
    justify-content: center;
}

/* Authentication Left Section */
.authenticationLeft {
    flex: 0.55;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 20px 60px 0;
}

.authenticationLeft h1 {
    font-size: 54px;
    font-weight: 700;
    color: #1877f2;
}

.authenticationLeft p {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    color: #050505;
}

/* Authentication Bottom Section */
.authenticationRight {
    flex: 0.45;
    display: flex;
    justify-content: center;
    margin: auto;
}

.authenticationRight .login {
    width: 80%;
    height: fit-content;
}

.authenticationRight .signup {
    width: 90%;
    height: fit-content;
    margin: 40px 0;
}