/** Signup Section */
.signup {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    background-color: #fff;
}

/* Signup Top Section */
.signupTop {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 16px;
    border-bottom: 1px solid #606770;
}

.signupTop h1 {
    font-size: 24px;
    font-weight: 700;
    color: #1C1E21;
}

.signupTop p {
    font-size: 14px;
    font-weight: 500;
    color: #606770;
}

/* Signup Middle Section */
.signupMiddle {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.signupMiddle input {
    width: 100%;
    font-size: 14px;
    padding: 10px 8px;
    margin: 8px 0;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: whitesmoke;
}

.signupMiddle .nameContainer {
    display: flex;
    gap: 10px;
}

.signupMiddle .dobContainer,
.signupMiddle .genderContainer {
    margin: 4px 0;
}

.signupMiddle .dobContainer h5,
.signupMiddle .genderContainer h5 {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 2px;
    color: #606770;
}

.signupMiddle .dobOptions,
.signupMiddle .genderOptions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.signupMiddle .dobOption select {
    width: 100%;
    font-size: 15px;
    padding: 6px 3px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    cursor: pointer;
    background-color: whitesmoke;
}

.signupMiddle .genderOption {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 2px 7px 7px;
    border-radius: 5px;
    border: 1px solid lightgray;
    cursor: pointer;
    background-color: whitesmoke;
}

.signupMiddle .genderOption p {
    font-size: 15px;
}

.signupMiddle .genderOption .MuiSvgIcon-root {
    transition: color 0.1s;
    width: 20px;
    height: auto;
}

.signupMiddle .genderOption .MuiSvgIcon-root.active {
    color: #007bff;
}

.signupMiddle .picturesBtn {
    width: 100%;
    font-size: 14px;
    padding: 7px;
    margin: 8px 0;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    cursor: pointer;
    color: gray;
    background-color: whitesmoke;
}

.signupMiddle img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: #fff;
}

.signupMiddle .notesContainer span {
    color: #385898;
}

.signupMiddle .notesContainer span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.signupMiddle .notesContainer #learnMoreNote,
.signupMiddle .notesContainer #termCondNote {
    font-size: 10px;
    font-weight: 500;
    padding: 4px 0;
    color: #777777;
}

.signupMiddle #submitBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 16px;
    margin: 12px 0 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    background-color: #42b72a;
}

.signupMiddle .loadingSpin {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-top: 3px solid #42b72a;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.signupMiddle .errorNote {
    text-align: center;
    font-size: 12px;
    padding: 3px 0 0 0;
    color: red;
}

.signupMiddle #switchFormBtn {
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #1877F2;
    background-color: transparent;
}