/** Header Section */
.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fff;
    box-shadow: 0px 0px 3px #ccc;
    position: sticky;
    top: 0;
    z-index: 99;
}

/** Header Left Section */
.Transformed_header_left {
    display: none;
}

.header_left {
    display: flex;
    align-items: center;
    padding: 5px 0px;
    margin-left: 15px;
}

.header_left img,
.header_left a {
    width: 42px;
    height: 42px;
}

.header_search {
    display: flex;
    align-items: center;
    background-color: #F0F2F5;
    border-radius: 20px;
    padding: 0px 8px;
    height: 40px;
    margin: 0 5px;
}

.header_search .MuiSvgIcon-root {
    color: gray;
    height: 20px;
    width: 20px;
    padding: 1px 5px 0;
}

.header_search input {
    border: 0;
    outline: 0;
    background-color: transparent;
    min-width: 200px;
    font-size: 16px;
}

.headersearch_Dropbox {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    top: 50px;
    left: 65px;
    min-width: 220px;
    background-color: #fff;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2), inset 0 0 0 0 rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    padding: 8px;
    z-index: 1;
}

.headersearch_Dropbox p {
    padding: 8px;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.headersearch_Dropbox a {
    color: initial;
    text-decoration: none;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
}

.headersearch_DropboxResults {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: -webkit-fill-available;
    border-radius: 6px;
    padding: 8px;
}

.headersearch_DropboxResults:hover {
    cursor: pointer;
    background-color: rgb(211 211 211/33%);
}

.headersearch_DropboxResults p {
    font-weight: 500;
    padding-left: 8px;
    font-size: 14px;
}

/** Header Middle Section */
.header_middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_middle a {
    padding: 6px 38px;
    margin: 0 3px;
    border-radius: 6px;
    color: initial;
    text-decoration: none;
}

.header_middle a svg {
    width: 28px;
    height: 28px;
    color: #65676B;
}

.header_middle a:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.header_middle a.active {
    position: relative;
}

.header_middle a.active:hover {
    background-color: transparent;
}

.header_middle a.active::after {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    right: 0;
    bottom: -4px;
    background-color: #2381fa;
}

.header_middle a.active svg {
    color: #2381fa;
}

/** Header Right Section */
.header_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
}

.header_right_Options {
    width: 26px;
    height: 26px;
    padding: 7px;
    border-radius: 50%;
    margin-right: 8px;
    color: #000;
    background-color: #E4E6EB;
    position: relative;
}

.header_right_Options:hover,
.userBox:hover {
    cursor: pointer;
}

.headerBox {
    position: absolute;
    top: 50px;
    right: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 320px;
    padding: 8px 0;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.headerBox #noMsg, 
.headerBox #noNoti {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 8px;
    margin-bottom: 8px;
}

.headerBox a {
    color: initial;
    text-decoration: none;
    width: -webkit-fill-available;
}

.headerBox .terms {
    margin: 6px 8px 3px 16px;
}

.headerBox .terms p {
    font-size: 12px;
    font-weight: 400;
    color: gray;
    white-space: pre-wrap;
}

.headerBox .terms p span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.headerBoxOptions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
    margin: 1px 8px;
    padding: 6px 8px;
    transition: 3ms ease-in-out;
}

.headerBoxOptions:hover {
    cursor: pointer;
    cursor: pointer;
    border-radius: 8px;
    background-color: #F0F2F5;
}

.headerBoxOptions_Left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.headerBoxOptions_Left p {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.5px;
    margin-left: 10px;
}

.headerBoxOptions_Left .MuiSvgIcon-root {
    width: 22px;
    height: 22px;
    padding: 5px;
    border-radius: 50%;
    color: #000;
    background-color: #E4E6EB;
}

.headerBoxOptions_Left .MuiAvatar-root {
    width: 32px;
    height: 32px;
}

.headerBoxOptions_Right .MuiSvgIcon-root {
    width: 22px;
    height: 22px;
    color: gray;
}

.notificationBox {
    display: flex;
}

.notificationBox #notiLengthIcon {
    position: absolute;
    right: 57px;
    top: 1px;
    height: 10px;
    width: 10px;
    padding: 4px;
    border-radius: 50%;
    background-color: #e41e3f;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.notificationBox .headerBox {
    padding: 0;
}

.notificationBox .headerBox_Top {
    width: -webkit-fill-available;
    padding: 10px 14px 10px;
}

.notificationBox .headerBox_TopTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}

.notificationBox .headerBox_TopTop h3 {
    font-size: 23px;
    font-weight: 700;
}

.notificationBox .headerBox_TopTop .MuiSvgIcon-root {
    width: 20px;
}

.notificationBox .headerBox_TopBottom {
    display: flex;
    align-items: center;
}

.notificationBox .headerBox_TopBottom button {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 12px;
    margin-right: 8px;
    border-radius: 18px;
    outline: none;
    border: none;
    color: #0064D1;
    background-color: #EBF5FF;
}

.notificationBox .headerBox_TopBottom button:hover {
    cursor: pointer;
    background-color: #F0F2F5;
}

.notificationBox .headerBox_Bottom {
    max-height: 580px;
    width: -webkit-fill-available;
    padding: 0 8px;
    overflow-y: auto;
}

.notificationBox .headerBox_BottomOption {
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;
    padding: 12px 8px;
}

.notificationBox .headerBox_BottomOption a {
    display: flex;
    align-items: flex-start;
}

.notificationBox .headerBox_BottomOption span {
    font-weight: 500;
}

.notificationBox .headerBox_BottomOption:hover {
    cursor: pointer;
    border-radius: 6px;
    background-color: #F0F2F5;
}

.notificationBox .headerBox_BottomOption_Left .MuiAvatar-root {
    width: 52px;
    height: 52px;
}

.notificationBox .headerBox_BottomOption_Right {
    padding: 0 10px;
}

.notificationBox .headerBox_BottomOption_Right p {
    font-size: 14px;
    font-weight: 400;
}

.notificationBox .headerBox_BottomOption_Right h5 {
    font-size: 12px;
    font-weight: 500;
    color: #0866FF;
}

.notificationBox .headerBox_BottomOption_RightBottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin: 12px 10px 0 0;
}

.notificationBox .headerBox_BottomOption_RightBottom button {
    padding: 8px 12px;
    background-color: #0866FF;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 8px;
}

.notificationBox .headerBox_BottomOption_RightBottom button#confbtn {
    background-color: #0866FF;
    color: #fff;
}

.notificationBox .headerBox_BottomOption_RightBottom button#delbtn {
    background-color: #E4E6EB;
    color: #000;
}

.messageBox {
    display: flex;
}

.messageBox #msgLengthIcon {
    position: absolute;
    right: 104px;
    top: 1px;
    height: 10px;
    width: 10px;
    padding: 4px;
    border-radius: 50%;
    background-color: #e41e3f;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.messageBox .headerBox {
    padding: 0;
}

.messageBox .headerBox_Top {
    width: -webkit-fill-available;
    padding: 10px 14px 10px;
}

.messageBox .headerBox_TopTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}

.messageBox .headerBox_TopTop h3 {
    font-size: 23px;
    font-weight: 700;
}

.messageBox .headerBox_TopTop .MuiSvgIcon-root {
    width: 20px;
}

.messageBox .headerBox_TopMiddle {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.messageBox .headerBox_TopMiddle input {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 12px 8px 32px;
    border-radius: 18px;
    outline: none;
    border: none;
    color: gray;
    background-color: #F0F2F5;
}

.messageBox .headerBox_TopMiddle .MuiSvgIcon-root {
    position: absolute;
    left: 22px;
    width: 20px;
    color: gray;
}

.messageBox .headerBox_Bottom {
    width: -webkit-fill-available;
}

.messageBox .headerBox_Bottom .headerBox_BottomOption {
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    margin-bottom: 0;
    padding: 8px 8px;
}

.messageBox .headerBox_Bottom .headerBox_BottomOption:last-child {
    margin-bottom: 8px;
}

.messageBox .headerBox_BottomOption {
    display: flex;
    align-items: flex-start;

}

.messageBox .headerBox_Bottom .headerBox_BottomOption .MuiAvatar-root {
    width: 52px;
    height: 52px;
}

.messageBox .headerBox_Bottom .headerBox_BottomOption .headerBox_BottomOptionContent {
    margin-left: 12px;
}

.messageBox .headerBox_Bottom .headerBox_BottomOption .headerBox_BottomOptionContent p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 3px;
}

.messageBox .headerBox_Bottom .headerBox_BottomOption .headerBox_BottomOptionContent .headerBox_BottomOptionContentBottom {
    display: flex;
}

.messageBox .headerBox_Bottom .headerBox_BottomOption .headerBox_BottomOptionContent .headerBox_BottomOptionContentBottom p {
    white-space: pre-wrap;
    display: flex;
}

.messageBox .headerBox_Bottom .headerBox_BottomOption .headerBox_BottomOptionContent .headerBox_BottomOptionContentBottom p span,
.messageBox .headerBox_Bottom .headerBox_BottomOption .headerBox_BottomOptionContent .headerBox_BottomOptionContentBottom p h5 {
    color: #65676B;
    font-size: 14px;
    font-weight: 400;
}

.messageBox .headerBox_TopBottom {
    display: flex;
    align-items: center;
}

.messageBox .headerBox_TopBottom button {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 12px;
    margin-right: 8px;
    border-radius: 18px;
    outline: none;
    border: none;
    color: #0064D1;
    background-color: #EBF5FF;
}

.messageBox .headerBox_TopBottom button:hover {
    cursor: pointer;
    background-color: #F0F2F5;
}

.messageBox .headerBox_Bottom {
    max-height: 530px;
    padding: 0 8px;
    overflow-y: auto;
}

.messageBox .headerBox_BottomOption {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
    padding: 12px 8px;
}

.messageBox .headerBox_BottomOption span {
    font-weight: 500;
}

.messageBox .headerBox_BottomOption:hover {
    cursor: pointer;
    border-radius: 6px;
    background-color: #F0F2F5;
}

.messageBox .headerBox_BottomOption_Left .MuiAvatar-root {
    width: 52px;
    height: 52px;
}

.messageBox .headerBox_BottomOption_Right {
    padding: 0 10px;
}

.messageBox .headerBox_BottomOption_Right p {
    font-size: 14px;
    font-weight: 400;
}

.messageBox .headerBox_BottomOption_Right h5 {
    font-size: 12px;
    font-weight: 500;
    color: #0866FF;
}

.messageBox .headerBox_BottomOption_RightBottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin: 12px 10px 0 0;
}

.messageBox .headerBox_BottomOption_RightBottom button {
    padding: 8px 12px;
    background-color: #0866FF;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 8px;
}

.messageBox .headerBox_BottomOption_RightBottom button#confbtn {
    background-color: #0866FF;
    color: #fff;
}

.messageBox .headerBox_BottomOption_RightBottom button#delbtn {
    background-color: #E4E6EB;
    color: #000;
}

/** Header Section Transformed */
.header.transformed {
    background-color: #f0f2f5;
    padding: 10px 0;
    box-shadow: none;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header.transformed .header_left {
    display: none;
}

.header.transformed .Transformed_header_left {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    width: 300px;
    height: 60px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
}

.header.transformed .Transformed_header_left img,
.header.transformed .Transformed_header_left a {
    height: 42px;
}

.header.transformed .Transformed_header_left .MuiSvgIcon-root {
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    margin-right: 5px;
    color: #fff;
}

.header.transformed .Transformed_header_left .MuiSvgIcon-root:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.35);
}

.header.transformed .header_middle {
    display: none;
}

.header.transformed .header_right .MuiSvgIcon-root {
    width: 22px;
}

.header.transformed .header_right #msgIcon {
    display: none;
}