/** Header Section */
.header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 6px 0px;
    background-color: #fff;
    box-shadow: 0px 0px 3px #ccc;
    position: sticky;
    top: 0;
    z-index: 99;
}

/** Header Left Section */
.Transformed_header_left{
    display: none;
}

.header_left{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.header_left img, 
.header_left a{
    width: 42px;
    height: 42px;
}

.header_search{
    display: flex;
    align-items: center;
    background-color: #F0F2F5;
    border-radius: 20px;
    padding: 0px 8px;
    height: 40px;
    margin: 0 5px;
}

.header_search .MuiSvgIcon-root{
    color: gray;
    height: 20px;
    padding: 0px 3px 0 0;
}

.header_search input{
    border: 0;
    outline: 0;
    background-color: transparent;
    min-width: 200px;
    font-size: 16px;
}

/** Header Middle Section */
.header_middle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_option{
    padding: 5px 40px;
    margin: 0 5px;
    cursor: pointer;
}

.header_option:hover{
    border-radius: 8px;
    background-color: whitesmoke;
}

.header_option svg{
    color: gray;
    font-size: 30px;
}

.header_option_active{
    position: relative;
}

.header_option_active::after{
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    right: 0;
    bottom: -5px;
    background-color: #2381fa;
}

.header_option_active svg{
    color: #2381fa;
}

/** Header Right Section */
.header_right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
}

.header_right .MuiSvgIcon-root{
    width: 26px;
    height: 26px;
    padding: 7px;
    background-color: #F0F2F5;
    color: #000;
    border-radius: 50%;
    margin-right: 8px;
}

.header_right .MuiSvgIcon-root:hover,
.header_right .MuiAvatar-img:hover{
    cursor: pointer;
    background-color: whitesmoke;
}

.dialogBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    top: 100%;
    right: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 8px;
    z-index: 1;
}

.dialogBox button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    background-color: #fff;
    width: 120px;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
}

.dialogBox button:last-child {
    border-bottom: none;
}

.dialogBox button:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.dialogBox a{
    text-decoration: none;
    border-bottom: 1px solid gray;
}

/** Header Section Transformed */
.header.transformed{
    background-color: #f0f2f5;
    padding: 25px 0;
    box-shadow: none;
}

.header.transformed .header_left{
    display: none;
}

.header.transformed .Transformed_header_left{
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    width: 308px;
    height: 8vh;
    padding: 8px 0 0 12px;
    background-color: #fff;
    box-shadow: 0px 0px 3px #ccc;
}

.header.transformed .Transformed_header_left img, 
.header.transformed .Transformed_header_left a{
    height: 42px;
}

.header.transformed .Transformed_header_left .MuiSvgIcon-root{
    padding: 8px;
    background-color: #f0f2f5;
    border-radius: 50%;
    margin-right: 5px;
    color: initial;
}

.header.transformed .Transformed_header_left .MuiSvgIcon-root:hover{
    cursor: pointer;
    background-color: whitesmoke;
}

.header.transformed .header_middle{
    display: none;
}

.header.transformed .header_right #msgIcon{
    display: none;
}