/** Header Section */
.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fff;
    box-shadow: 0px 0px 3px #ccc;
    position: sticky;
    top: 0;
    z-index: 99;
}

/** Header Left Section */
.headerTransformedLeft {
    display: none;
}

.headerLeft {
    display: flex;
    align-items: center;
    padding: 5px 0px;
    margin-left: 15px;
}

.headerLeft img,
.headerLeft a {
    width: 42px;
    height: 42px;
}

.searchContainer {
    display: flex;
    align-items: center;
    background-color: #F0F2F5;
    border-radius: 20px;
    padding: 0px 8px;
    height: 40px;
    margin: 0 5px;
}

.searchContainer .MuiSvgIcon-root {
    width: 28px;
    height: 28px;
    padding: 1px 5px 0;
    color: gray;
}

.searchContainer input {
    border: 0;
    outline: 0;
    background-color: transparent;
    min-width: 200px;
    font-size: 16px;
}

.searchContainerDropbox {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    top: 50px;
    left: 65px;
    min-width: 220px;
    background-color: #fff;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2), inset 0 0 0 0 rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    padding: 8px;
    z-index: 1;
}

.searchContainerDropbox p {
    padding: 8px;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.searchContainerDropbox a {
    color: initial;
    text-decoration: none;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
}

.searchContainerDropboxResults {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: -webkit-fill-available;
    border-radius: 6px;
    padding: 8px;
}

.searchContainerDropboxResults:hover {
    cursor: pointer;
    background-color: rgb(211 211 211/33%);
}

.searchContainerDropboxResults p {
    font-weight: 500;
    padding-left: 8px;
    font-size: 14px;
}

/** Header Middle Section */
.headerMiddle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerMiddle a {
    padding: 6px 38px;
    margin: 0 3px;
    border-radius: 6px;
    color: initial;
    text-decoration: none;
}

.headerMiddle a svg {
    width: 28px;
    height: 28px;
    color: #65676B;
}

.headerMiddle a:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.headerMiddle a.active {
    position: relative;
}

.headerMiddle a.active:hover {
    background-color: transparent;
}

.headerMiddle a.active::after {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    right: 0;
    bottom: -4px;
    background-color: #2381fa;
}

.headerMiddle a.active svg {
    color: #2381fa;
}

/** Header Right Section */
.headerRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
}

.headerRight_Options {
    position: relative;
    margin-right: 8px;
    border-radius: 50%;
    cursor: pointer;
    color: #000;
    background-color: #E4E6EB;
}

.headerRight_Options.MuiSvgIcon-root{
    width: 38px;
    height: 38px;
    padding: 8px;
}

.userBox{
    cursor: pointer;
}

.headerBox {
    position: absolute;
    top: 50px;
    right: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 320px;
    padding: 8px 0;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.headerBox .terms {
    margin: 6px 8px 3px 16px;
}

.headerBox .terms p {
    font-size: 12px;
    font-weight: 400;
    color: gray;
    white-space: pre-wrap;
}

.headerBox .terms p span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.headerBoxOptions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
    margin: 1px 8px;
    padding: 6px 8px;
    transition: 3ms ease-in-out;
}

.headerBoxOptions:hover {
    cursor: pointer;
    cursor: pointer;
    border-radius: 8px;
    background-color: #F0F2F5;
}

.headerBoxOptions_Left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.headerBoxOptions_Left p {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.5px;
    margin-left: 10px;
}

.headerBoxOptions_Left .MuiSvgIcon-root {
    width: 32px;
    height: 32px;
    padding: 6px;
    border-radius: 50%;
    color: #000;
    background-color: #E4E6EB;
}

.headerBoxOptions_Left .MuiAvatar-root {
    width: 33px;
    height: 33px;
}

.headerBoxOptions_Right .MuiSvgIcon-root {
    width: 28px;
    height: 28px;
    color: gray;
}

.messageContainer,
.notificationContainer {
    display: flex;
}

.messageContainer #msgLengthIcon {
    position: absolute;
    top: 1px;
    right: 104px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    padding: 4px;
    border-radius: 50%;
    z-index: 9;
    color: #fff;
    background-color: #e41e3f;
}

.notificationContainer #notiLengthIcon {
    position: absolute;
    top: 1px;
    right: 57px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    padding: 4px;
    border-radius: 50%;
    z-index: 9;
    color: #fff;
    background-color: #e41e3f;
}

/** Header Section Transformed */
.header.transformed {
    background-color: #f0f2f5;
    padding: 10px 0;
    box-shadow: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header.transformed .headerLeft {
    display: none;
}

.header.transformed .headerTransformedLeft {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    width: 360px;
    height: 60px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
}

.header.transformed .headerTransformedLeft img,
.header.transformed .headerTransformedLeft a {
    height: 42px;
}

.header.transformed .headerTransformedLeft .MuiSvgIcon-root {
    width: 40px;
    height: 40px;
    padding: 8px;
    margin-right: 5px;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
}

.header.transformed .headerTransformedLeft .MuiSvgIcon-root:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.35);
}

.header.transformed .headerMiddle {
    display: none;
}

.header.transformed .headerRight .MuiSvgIcon-root {
    width: 40px;
    height: 40px;
    padding: 8px;
}

.header.transformed .headerRight #msgIcon {
    display: none;
}