/** Post Page Section */
.postPage{
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.postPageInner{
    width: 560px;
}

.postPageInner 

.postPageInner_Bottom{
    background-color: #fff;
}