/** VideosPage Section */
.videospage {
    height: 93vh;
    display: flex;
    overflow: hidden;
}

/* VideosPage LeftBar Section */
.videosageLeftbar {
    height: 100%;
    width: 460px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
    background-color: #fff;
}

.videosageLeftbarTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px 0 10px;
    padding: 0 2px 0 8px;
}

.videosageLeftbarTop p {
    font-size: 22px;
    font-weight: 700;
}

.videosageLeftbarTop .MuiSvgIcon-root {
    width: 32px;
    height: 32px;
    padding: 6px;
    margin-right: 3px;
    border-radius: 50%;
    background-color: #E4E6EB;
}

.videosageLeftbarTop .MuiSvgIcon-root:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
}

.videosageLeftbarBottom {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    gap: 3px;
}

.videosageLeftbarBottom a {
    color: initial;
    text-decoration: none;
}

.videosageLeftbarBottomOptions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    transition: 3ms ease-in-out;
}

.videosageLeftbarBottomOptions:hover,
.videosageLeftbarBottom a.active {
    cursor: pointer;
    border-radius: 8px;
    background-color: #F0F2F5;
}

.videosageLeftbarBottom a.active .videosageLeftbarBottomOption .MuiSvgIcon-root {
    color: #fff;
    background-color: #1877f2;
}

.videosageLeftbarBottomOption {
    display: flex;
    align-items: center;
}

.videosageLeftbarBottomOption p {
    font-size: 15px;
    font-weight: 600;
}

.videosageLeftbarBottomOption .MuiSvgIcon-root {
    width: 36px;
    height: 36px;
    padding: 6px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #E4E6EB;
}

/* VideosPage Main Section */
.videospageMain {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0 15px 0;
    overflow-y: auto;
}

.videospageMain .homepageFeedsPosts_Middle .homepageFeedsPosts_MiddleTop .homepageFeedsPosts_MiddleTopInner #postVideo {
    width: 750px;
    height: 400px;
}