/** ReelCreate Section */
.reelCreate {
    width: 100%;
    height: 100%;
    display: flex;
}

/* ReelCreate Leftbar Section */
.reelCreateLeftbar {
    position: relative;
    width: 460px;
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
    background-color: #fff;
}

/* ReelCreate Leftbar Top Section */
.reelCreateLeftbar_Top {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    border-bottom: 1px solid #E4E6EB;
}

.reelCreateLeftbar_TopHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.reelCreateLeftbar_TopHeading p {
    font-size: 22px;
    font-weight: 700;
}

.reelCreateLeftbar_TopHeading .MuiSvgIcon-root {
    width: 32px;
    height: 32px;
    padding: 6px;
    border-radius: 50%;
    background-color: #E4E6EB;
}

.reelCreateLeftbar_TopHeading .MuiSvgIcon-root:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
}

.reelCreateLeftbar_TopUserinfo {
    display: flex;
    align-items: center;
    margin: 20px 0 25px 0;
}

.reelCreateLeftbar_TopUserinfo .MuiAvatar-root {
    width: 54px;
    height: 54px;
    object-fit: cover;
}

.reelCreateLeftbar_TopUserinfo p {
    font-weight: 600;
    font-size: 15px;
    margin-left: 10px;
}

/* ReelCreate Leftbar Middle Section */
.reelCreateLeftbar_Middle {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin: 15px 0;
}

.reelCreateLeftbar_Middle textarea {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid lightgray;
    outline: none;
    resize: none;
}

.reelCreateLeftbar_Middle #limitNote {
    text-align: end;
    font-size: 12px;
    font-weight: 500;
    color: #65676B;
    margin: 5px 0 15px 0;
}

.reelCreateLeftbar_Middle select {
    font-size: 14px;
    padding: 15px 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid lightgray;
    outline: none;
}

.reelCreateLeftbar_Middle select option {
    font-size: 14px;
}

/* ReelCreate Leftbar Middle TextContainer Section */
.reelCreateLeftbar_Middle .textReelContainer {
    display: flex;
    flex-direction: column;
}

.textReelContainer .bgColors {
    padding: 12px 15px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.textReelContainer .bgColors p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #65676B;
}

.textReelContainer .bgColors .bgColorsInner {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 5px;
    align-items: center;
    justify-items: center;
}

.textReelContainer .bgColors .bgColorsInner .dot {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid transparent;
    transition: border-color 0.3s ease;
}

.textReelContainer .bgColors .bgColorsInner .dot:hover {
    cursor: pointer;
}

.textReelContainer .bgColors .bgColorsInner .dot.active {
    border-color: #0866FF;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.brown {
    background-color: brown;
}

.blueviolet {
    background-color: blueviolet;
}

.cyan {
    background-color: cyan;
}

.gold {
    background-color: gold;
}

.violet {
    background-color: violet;
}

.silver {
    background-color: silver;
}

.purple {
    background-color: purple;
}

/* ReelCreate Leftbar Middle PhotoContainer Section */
.reelCreateLeftbar_Middle .photoReelContainer {
    display: flex;
    flex-direction: column;
}

.reelCreateLeftbar_Middle .photoReelContainer .textInPhotoReel p {
    font-size: 15px;
    font-weight: 500;
    padding: 15px 10px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.photoReelContainer .textInPhotoReel p:hover {
    cursor: pointer;
    background-color: #E4E6EB;
}

.photoReelContainer .photoReel {
    display: flex;
    flex-direction: column;
}

/* ReelCreate Leftbar Bottom Section */
.reelCreateLeftbar_Bottom {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 8px;
    padding: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.reelCreateLeftbar_Bottom button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.reelCreateLeftbar_Bottom #discardBtn {
    color: #000;
    background-color: #E4E6EB;
}

.reelCreateLeftbar_Bottom #shareBtn {
    color: #fff;
    background-color: #0866FF;
}

.reelCreateLeftbar_Bottom #loadingBtn {
    padding: 6px 12px;
    color: #fff;
    background-color: #0866FF;
}

.reelCreateLeftbar_Bottom .loadingSpin {
    width: 22px;
    height: 22px;
    border: 3px solid #1877f2;
    border-top: 3px solid #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ReelCreate Main Section */
.reelCreateMain {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0 30px 0;
}

/* ReelCreate Main Card Section */
.reelCreateMainCards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardContainer {
    width: 220px;
    height: 330px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/Zd_TxH-pOMv.png?_nc_eui2=AeFCXpL4BPrnTmp7wz4-oOnM3bslaZtoocHduyVpm2ihwSxn_qkK8uAyp2i1oSPCVIaZYEGdpMGnpeqI-K_KeaA4");
}

.cardContainer.photoCard {
    margin-right: 15px;
    background-position: 0px 0px;
}

.cardContainer.textCard {
    background-position: 0px -331px;
}

.cardContainer .icon {
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #ccc;
    background-color: #fff;
}

.cardContainer .icon i {
    width: 20px;
    height: 20px;
    display: flex;
}

.cardContainer.photoCard .icon i {
    background-position: 0px -200px;
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yw/r/mf6ewFaBKyD.png?_nc_eui2=AeEVTDEQXzlHSj7vYQZVDVRPS55LcS2SBKZLnktxLZIEpldslzyz59JOW2TyADvjDnjEbuppSrKHPzktzYm0Fp5z");
}

.cardContainer.textCard .icon i {
    background-position: 0px -83px;
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yY/r/EBvutOuy0EA.png?_nc_eui2=AeEve179pYD1LdaHKx51ib3cxXllPpn4tH_FeWU-mfi0f5reS-yJmnNi25IrEcoqmMEOp6LCFwMI17eRIXQW-2z6");
}

.cardContainer p {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}

.cardContainer .hiddenInput {
    display: none;
}

/* ReelCreate Main Card Content Section */
.reelCreateMain .textReelContent,
.reelCreateMain .photoReelContent {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.textReelContent h5,
.photoReelContent h5 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}

.textReelContent .textReelContentInner,
.photoReelContent .photoReelContentInner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    border-radius: 8px;
    background-color: #000;
}

.textReelContentInner .textStoryWindow {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 30px;
    border-radius: 8px;
}

.photoReelContentInner .photoStoryWindow {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 30px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photoReelContentInner .photoStoryWindow p,
.textReelContentInner .textStoryWindow p {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    word-break: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    color: #fff;
}