/** ReelPage Section */
.reelpage {
    width: 100%;
    height: calc(100% - 55px);
    display: flex;
}

/* ReelPage Leftbar Section */
.reelpageLeftbar {
    position: relative;
    width: 460px;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
    background-color: #fff;
}

.reelpageLeftbarTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 16px;
}

.reelpageLeftbarTop h1 {
    font-size: 24px;
    font-weight: 700;
    color: #050505;
}

.reelpageLeftbarTop .MuiSvgIcon-root {
    width: 32px;
    height: 32px;
    padding: 6px;
    margin-right: 3px;
    border-radius: 50%;
    background-color: #E4E6EB;
}

.reelpageLeftbarTop .MuiSvgIcon-root:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
}

.reelpageLeftbarMiddle {
    display: flex;
    flex-direction: column;
}

.reelpageLeftbarMiddle a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: initial;
}

.reelpageLeftbarMiddle h5#title {
    font-size: 16px;
    font-weight: 600;
    padding: 20px 16px 10px 16px;
    color: #050505;
}

.reelpageLeftbarMiddle a.createReel .MuiSvgIcon-root {
    width: 54px;
    height: 54px;
    padding: 14px;
    border-radius: 50%;
    cursor: pointer;
    color: #1877F2;
    background-color: #F0F2F5;
}

.reelpageLeftbarMiddle .userInfoContainer,
.reelpageLeftbarMiddle .createReelContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin: 0 6px;
    border-radius: 6px;
}

.userInfoContainer.active {
    background-color: rgba(0, 0, 0, 0.10);
}

.reelpageLeftbarMiddle .createReelContainer {
    width: 100%;
}

.reelpageLeftbarMiddle .userInfoContainer:hover,
.reelpageLeftbarMiddle .createReelContainer:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.10);
}

.userInfoContainer .userInfo,
.createReelContainer .createReelInner {
    display: flex;
    align-items: center;
}

.userInfoContainer .userInfo img {
    width: 54px;
    height: 54px;
    object-fit: cover;
    border-radius: 50%;
}

.userInfoContainer .userInfo .userInfoRight,
.createReelContainer .createReelInner .createReelRight {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.userInfoContainer .userInfo .userInfoRight h5,
.createReelContainer .createReelInner .createReelRight h5 {
    font-size: 15px;
    font-weight: 600;
    color: #050505;
}

.userInfoContainer .userInfo .userInfoRight p,
.createReelContainer .createReelInner .createReelRight p {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: #656765;
}

.reelpageLeftbarBottom {
    display: flex;
    flex-direction: column;
}

.reelpageLeftbarBottom a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: initial;
}

.reelpageLeftbarBottom #noStories{
    font-size: 14px;
    font-weight: 500;
    padding: 12px 16px 0 16px;
    color: #656765;
}

.reelpageLeftbarBottom h5#title {
    font-size: 16px;
    font-weight: 600;
    padding: 20px 16px 10px 16px;
    color: #050505;
}

.reelpageLeftbarBottom .userInfoContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin: 0px 6px 2px 6px;
    border-radius: 6px;
}

.reelpageLeftbarBottom .userInfoContainer:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.10);
}

/* ReelPage Main Section */
.reelpageMain {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #050505;
}

.reelpageMain .reel {
    width: 350px;
    padding: 16px 12px;
    margin: 10px 0 20px 0;
    border-radius: 10px;
    background-color: #242526;
}

.reelTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.reelTopLeft {
    display: flex;
    align-items: center;
}

.reelTopLeftInfo {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.reelTopLeftInfo h5 {
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.reelTopLeftInfo p {
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}

.reelTopRight {
    display: flex;
    align-items: center;
}

.reelTopRight .reelTopRightOption {
    position: relative;
    display: flex;
    cursor: pointer;
}

.reelTopRightOption .menu {
    position: absolute;
    top: 25px;
    right: 8px;
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.menu .menuOption {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
}

.menu .menuOption:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.menuOptionLeft {
    display: flex;
}

.menuOptionLeft #deleteIcon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yp/r/faYX-HAY-C_.png');
    background-position: 0px -172px;
    background-size: auto;
}

.menuOptionLeft #saveIcon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yu/r/doFgS_h9Kyh.png');
    background-position: 0px -83px;
    background-size: 41px 503px;
}

.menuOptionLeft #unsaveIcon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yZ/r/w0CJiTcp3tP.png');
    background-position: 0px -84px;
    background-size: 21px 593px;
}

.menuOptionRight {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.menuOptionRight h5 {
    font-size: 14px;
    font-weight: 600;
    color: #050505;
}