/** ReelFeed Section */
.reelFeed {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
    background-color: #fff;
}

.reelFeed a {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    color: initial;
}

.reelFeed a:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.reelFeed a .MuiSvgIcon-root {
    width: 40px;
    height: 40px;
    padding: 6px;
    margin-right: 12px;
    border-radius: 50%;
    color: #1877F2;
    background-color: #EBF5FF;
}

.reelFeedInfo h2 {
    font-size: 18px;
    font-weight: 600;
}

.reelFeedInfo p {
    font-size: 14px;
    font-weight: 400;
    color: gray;
}

/** ReelFeed Scroll Section */
.reelFeed_Scroll {
    position: relative;
    overflow-x: auto;
}

.reelFeed_Scroll button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 50%;
    z-index: 999;
    background-color: #fff;
}

.reelFeed_Scroll #leftScroll {
    top: 45%;
    left: 20px;
    cursor: pointer;
}

.reelFeed_Scroll #rightScroll {
    top: 45%;
    right: 20px;
    cursor: pointer;
}

/* ReelFeed ScrollReels Section */
.reelFeed_ScrollReels {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.reelFeed_ScrollReels::-webkit-scrollbar {
    display: none;
}

.reelFeed_ScrollReelsInner {
    width: 143px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 8px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -7px rgb(0, 0, 0, 0.75);
}

.reelFeed_ScrollReelsInner .MuiAvatar-root {
    flex: 0.8;
    width: 100%;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.reelFeed_ScrollReelsInner .ScrollReelsCreate {
    position: relative;
    flex: 0.2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
}

.reelFeed_ScrollReelsInner .ScrollReelsCreate .MuiSvgIcon-root {
    position: absolute;
    top: 0%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    padding: 3px;
    border: 3px solid #fff;
    border-radius: 50%;
    color: #fff;
    background-color: #1877F2;
}

.reelFeed_ScrollReelsInner .ScrollReelsCreate h5 {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 8px;
}

.reelFeed_ScrollReels a {
    text-decoration: none;
    margin-right: 8px;
    color: initial;
}

.reelFeed_ScrollReels a:first-child,
.reelFeed_ScrollReels a:last-child {
    margin-right: 0px;
}

.reelFeed_ScrollReelsStories {
    position: relative;
    width: 143px;
    height: 250px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -7px rgb(0, 0, 0, 0.75);
}

.reelFeed_ScrollReelsStories .MuiAvatar-root {
    width: 36px;
    height: 36px;
    border: 3px solid #2381fa;
}

.reelFeed_ScrollReelsStories p {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}