/** Authentication Section */
.authentication {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0 40px;
    overflow-y: auto;
}

/* Authentication Inner Section */
.authenticationInner {
    min-width: 80%;
    display: flex;
    justify-content: center;
}

.authenticationInnerLeft {
    flex: 0.45;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.authenticationInnerLeft h1 {
    font-size: 54px;
    font-weight: 700;
    color: #1877f2;
}

.authenticationInnerLeft p {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    color: #050505;
    margin-bottom: 40px;
}

.authenticationInnerRight {
    flex: 0.35;
    display: flex;
    justify-content: center;
    margin: auto;
}

.authenticationInnerRight .signup {
    margin: 40px 0;
}

/** Responsive Media Queries */
@media only screen and (max-width: 950px) {
    .authentication {
        padding: 0 40px;
    }

    .authenticationInner {
        min-width: 100%;
        gap: 30px;
    }

    .authenticationInnerLeft {
        flex: 0.55;
    }

    .authenticationInnerRight {
        flex: 0.45;
    }
}

@media only screen and (max-width: 680px) {
    .authentication {
        padding: 0 80px;
    }

    .authenticationInner {
        min-width: 100%;
        display: block;
        margin: auto;
    }

    .authenticationInnerLeft {
        text-align: center;
        margin: 40px 0px 0px;
    }

    .authenticationInnerRight .signup {
        margin: 0px 0px 40px;
    }
}