/** Skeleton HomePage Section */
.skeletonHomePage{
    display: flex;
    flex-direction: column;
}

/* Skeleton HomePage Top Section */
.skeletonHomePage_Top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fff;
    box-shadow: 0px 0px 3px #ccc;
    position: sticky;
    top: 0;
    z-index: 99;
}

.skeletonHomePage_TopLeft {
    display: flex;
    align-items: center;
    padding: 2px 0px;
    margin-left: 15px;
}

.skeletonHomePage_TopLeft .avatar {
    margin: 0 10px 0 0;
}

.skeletonHomePage_TopMiddle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4px;
    place-items: center;
}

.skeletonHomePage_TopMiddle .smallSquare {
    margin: 0;
}

.skeletonHomePage_TopRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
}

.skeletonHomePage_TopRight .avatar{
    margin: 0 0 0 10px;
}

/* Skeleton HomePage Content Section */
.skeletonHomePage_Content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 15px 0;
}

.skeletonHomePage_Content .Leftbar{
    width: 320px;
    top: 60px;
    position: sticky;
    overflow-y: auto;
    margin-left: 15px;
}

.skeletonHomePage_Content .Middle{
    display: flex;
    flex-direction: column;
    width: 560px;
}

.skeletonHomePage_Content .Middle .skeletonPost .post{
    background-color: #fff;
    border-radius: 8px;
    padding: 14px;
    margin: 0 0 15px 0;
}

.skeletonHomePage_Content .Middle .post .skeletonPost .skeletonPost_Bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    place-items: center;
}

.skeletonHomePage_Content .Rightbar{
    width: 320px;
    top: 60px;
    position: sticky;
    overflow-y: auto;
    margin-right: 15px;
}