/** Skeleton UserInfo */
.skeletonsUserInfo{
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
}

.skeletonsUserInfo_Left{
    margin: 0 10px 0 0;
}

.skeletonsUserInfo_Right{
    width: 100%;
}