/** Videos Main Page Section */
.videosPageMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videosPageMain .homepageFeedsPosts_Middle .homepageFeedsPosts_MiddleTop .homepageFeedsPosts_MiddleTopInner #postVideo {
    width: 750px;
    height: 400px;
}