/** UserPage Components About Section */
.userpageComponentsAbout{
    width: 100%;
    display: flex;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
    background-color: #fff;
}

/* UserPage Components About Left Section */
.userpageComponentsAbout_Left{
    flex: 0.25;
    padding: 14px 6px;
    border-right: 1px solid lightgray;
}

.userpageComponentsAbout_Left h3{
    width: fit-content;
    font-size: 18px;
    font-weight: 700;
    margin: 0 8px 10px;
    color: #050505;
}

.userpageComponentsAbout_Left h3:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.userpageComponentsAbout_Left p{
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    margin-bottom: 4px;
    border-radius: 6px;
    color: #65676B;
}

.userpageComponentsAbout_Left p:last-child{
    margin-bottom: 0px;
}

.userpageComponentsAbout_Left p:hover{
    cursor: pointer;
    background-color: #E4E6EB;
}

.userpageComponentsAbout_Left p .active{
    color: #0866FF;
    background-color: #EBF5FF;
}

/* UserPage Components About Right Section */
.userpageComponentsAbout_Right{
    flex: 0.75;
    padding: 15px;
}

.userpageComponentsAbout_RightOption{
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.userpageComponentsAbout_RightOption:hover{
    color: #0866FF;
    cursor: pointer;
    text-decoration: underline;
}

.userpageComponentsAbout_RightOption p{
    font-size: 14px;
    font-weight: 500;
    padding: 6px;
    color: #0866FF;
}

.userpageComponentsAbout_RightOption .MuiSvgIcon-root{
    width: 20px;
    height: 20px;
    color: #0866FF;
    padding: 1px;
    border-radius: 50%;
    border: 1px solid #0866FF;
    margin-right: 8px;
}