/** UserPage Components Friends Section */
.userpageComponentsFriends {
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
    background-color: #fff;
}

/* UserPage Components Friends Top Section */
.userpageComponentsFriends_Top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userpageComponentsFriends_TopLeft h3 {
    font-size: 18px;
    font-weight: 700;
    color: #050505;
}

.userpageComponentsFriends_TopLeft h3:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.userpageComponentsFriends_TopRight {
    display: flex;
    align-items: center;
}

.userpageComponentsFriends_TopRight .searchInp {
    display: flex;
    align-items: center;
    padding: 6px;
    margin: 0 4px;
    border-radius: 20px;
    background-color: #E4E6EB;
}

.userpageComponentsFriends_TopRight .searchInp .MuiSvgIcon-root {
    width: 20px;
    margin-left: 4px;
    color: #606770;
    background-color: transparent;
}

.userpageComponentsFriends_TopRight .searchInp input {
    border: 0;
    outline: 0;
    width: 135px;
    padding: 0 5px;
    font-size: 13px;
    color: #606770;
    background-color: transparent;
}

.userpageComponentsFriends_TopRight p {
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    margin: 0 4px;
    border-radius: 4px;
    color: #0065D1;
}

.userpageComponentsFriends_TopRight p:hover {
    cursor: pointer;
    background-color: #E4E6EB;
}

.userpageComponentsFriends_TopRight .MuiSvgIcon-root.moreOptions {
    width: 46px;
    height: 36px;
    padding: 2px 12px;
    margin-left: 6px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #E4E6EB;
}

/* UserPage Components Friends Middle Section */
.userpageComponentsFriends_Middle {
    width: 100%;
}

.userpageComponentsFriends_Middle .userpageFriends {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
}

.userpageComponentsFriends_Middle .userpageFriendsTop {
    display: none;
}

.userpageComponentsFriends_Middle .userpageFriendsBottom {
    display: flex;
    justify-content: flex-start;
}

.userpageComponentsFriends_Middle .userpageFriendsBottomContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 15px;
}

.userpageComponentsFriends_Middle .userpageFriendsBottomContainerOptions {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #E4E6EB;
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.1);
}

.userpageComponentsFriends_Middle .userpageFriendsBottomContainerOptions p {
    font-size: 14px;
    margin-left: 15px;
}

.userpageComponentsFriends_Middle .userpageFriendsBottomContainerOptions .MuiAvatar-root {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 5px;
}