.userpage_Info{
    height: auto;
    width: 400px;
    background-color: #fff;
    margin: 15px 0;
    border-radius: 8px;
    padding: 18px;
}

.userpage_Info button{
    width: 100%;
    background-color: #E4E6EB;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    padding: 8px 12px;
    margin: 12px 0;
}

.userpage_Info button:hover{
    background-color: lightgrey;
    cursor: pointer;
}

.introBio h2{
    margin-bottom: 10px;
}

.introBio #bio{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.introInfo h5{
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0;
}

.introInfo h5:last-child{
    margin-bottom: 0;
}

.introInfo h5:first-child{
    margin-top: 0;
}