.userpage_Friends {
    height: auto;
    width: 400px;
    background-color: #fff;
    margin: 15px 0;
    border-radius: 8px;
    padding: 18px;
}

.userpage_Friends_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.userpage_Friends_top a {
    font-size: 17px;
    font-weight: 500;
    color: #1B74E4;
    text-decoration: none;
    padding: 8px;
}

.userpage_Friends_top a:hover{
    background-color: whitesmoke;
    cursor: pointer;
}

.userpage_Friends_bottom {
    display: flex;
    /* justify-content: center; */
}

.userpage_friendsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.userpage_friendsContainer img {
    width: 125.5px;
    height: 120px;
}

.userpage_friendsContainer p {
    font-size: 14px;
    font-weight: 500;
}