/** UserPage Section */
.userpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 100vh;
}

/* UserPage Top Section */
.userpageTop {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
}

/* userpage Top Cover Section */
.userpageTop_CoverSection {
    position: relative;
    width: 100%;
    max-width: 995px;
}

.userpageTop_CoverSection img {
    width: 995px;
    height: 370px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    object-fit: cover;
}

.userpageTop_CoverSection button {
    position: absolute;
    top: 320px;
    right: 27px;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.userpageTop_CoverSection button:hover {
    cursor: pointer;
}

.userpageTop_CoverSection p {
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
}

.userpageTop_CoverSection .MuiSvgIcon-root {
    width: 16px;
    height: 20px;
}

/* UserPage Top Profile Section */
.userpageTop_ProfileSection{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 940px;
    height: 90px;
    margin-bottom: 12px;
}

.userpageTop_ProfileSectionLeft {
    display: flex;
    align-items: flex-end;
}

.userpageTop_ProfileSectionLeftPhoto {
    position: relative;
}

.userpageTop_ProfileSectionLeftPhoto .MuiAvatar-root {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid #fff;
}

.userpageTop_ProfileSectionLeftPhoto .profileChangeIcon {
    position: absolute;
    bottom: 6px;
    right: 6px;
    width: 34px;
    height: 34px;
    padding: 6px;
    border-radius: 50%;
    color: black;
    background-color: #E4E6EB;
}

.userpageTop_ProfileSectionLeftPhoto .profileChangeIcon:hover {
    cursor: pointer;
    background-color: lightgray;
}

.userpageTop_ProfileSectionLeftInfo {
    display: flex;
    flex-direction: column;
    padding-left: 14px;
    margin-bottom: 25px;
}

.userpageTop_ProfileSectionLeftInfo h3 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 2px;
}

.userpageTop_ProfileSectionLeftInfo p {
    font-size: 14px;
    font-weight: 500;
    color: gray;
}

.userpageTop_ProfileSectionRight {
    display: flex;
    margin-bottom: 25px;
}

.userpageTop_ProfileSectionRight .MuiSvgIcon-root {
    width: 20px;
    height: 22px;
}

.userpageTop_ProfileSectionRightOption {
    background-color: #E4E6EB;
    border-radius: 6px;
    padding: 5px 10px;
    margin-left: 6px;
    display: flex;
    align-items: center;
}

.userpageTop_ProfileSectionRightOption:hover {
    cursor: pointer;
}

.userpageTop_ProfileSectionRightOption p {
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
}

.userpageTop_ProfileSectionRight #addStoryBtn {
    background-color: #1B74E4;
    color: #fff;
}

.userpageTop_ProfileSectionRight #editProfileBtn img {
    width: 14px;
}

/* UserPage Top Components Section */
.userpageTop_Components{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 940px;
    border-top: 1px solid rgb(197, 197, 197);
}

/* userpage Top Left Components Section */
.userpageTop_ComponentsLeft {
    display: flex;
}

.userpageTop_ComponentsLeft a{
    text-decoration: none;
    color: initial;
    height: fit-content;
}

.userpageTop_ComponentsLeft a.active .userpageTop_ComponentsLeftOption{
    position: relative;
    color: #2381fa;
}

.userpageTop_ComponentsLeft a.active .userpageTop_ComponentsLeftOption:hover{
    background-color: transparent;
}

.userpageTop_ComponentsLeft a.active .userpageTop_ComponentsLeftOption::after{
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    bottom: -2px;
    background-color: #2381fa;
}

.userpageTop_ComponentsLeft a.active .userpageTop_ComponentsLeftOption svg{
    color: #2381fa;
}

.userpageTop_ComponentsLeftOption {
    font-size: 14px;
    font-weight: 600;
    padding: 14px;
    margin: 2px 0;
    border-radius: 8px;
    color: #65676B;
}

.userpageTop_ComponentsLeftOption:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.userpageTop_ComponentsLeftOption#moreOption {
    display: flex;
    align-items: center;
    padding: 11px 14px;
}

.userpageTop_ComponentsLeftOption#moreOption svg{
    color: #65676B;
    width: 18px;
    height: 18px;
    margin-left: 3px;
}

.userpageTop_ComponentsRight {
    background-color: #E4E6EB;
    border-radius: 6px;
    padding: 5px 10px;
    margin-left: 6px;
    display: flex;
    align-items: center;
}

.userpageTop_ComponentsRight .MuiSvgIcon-root {
    width: 20px;
    height: 22px;
}

.userpageTop_ComponentsRight .MuiSvgIcon-root:hover {
    cursor: pointer;
}

/* UserPage Bottom Section */
.userpageBottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 940px;    
}

.userpageBottomLeft,
.userpageBottomRight {
    margin: 0;
    padding: 0;
}