/** UserPage Feed Section */
.userpageFeed{
    display: flex;
    flex-direction: column;
    width: 540px;
    margin: 15px;
    margin-right: 0;
}

.userpageFeed .homepage_feedsPosting{
    margin-top: 0;
}