/** UserPage Section */
.userpage {
    width: 100%;
    height: calc(100% - 55px);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}

/* UserPage Top Section */
.userpageTop {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

/* UserPage Top Cover Section */
.userpageTop_CoverSection {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, #FFFFFF, rgba(255, 255, 255.9), rgba(255, 255, 255, .7), rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
}

.coverImg {
    position: relative;
    width: 1080px;
    height: 460px;
    display: flex;
    justify-content: center;
}

.coverImg span {
    width: 100%;
    height: 100%;
}

.coverImg span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.coverImg .coverPhoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #F0F2F5;
}

.coverImg .changeCoverPhoto {
    position: absolute;
    bottom: 15px;
    right: 25px;
    display: flex;
    align-items: center;
    padding: 7px 12px;
    border-radius: 6px;
    cursor: pointer;
    color: #050505;
    background-color: #fff;
}

.coverImg .changeCoverPhoto:hover {
    background-color: #E4E6EB;
}

.coverImg .changeCoverPhoto p {
    font-size: 14px;
    font-weight: 600;
    margin-left: 6px;
}

.coverImg .changeCoverPhoto .MuiSvgIcon-root {
    width: 20px;
    height: 20px;
}

/* UserPage Top Profile Section */
.userpageTop_ProfileSection {
    max-width: 1040px;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 15px;
    margin-bottom: 15px;
}

.userpageTop_ProfileSectionLeft {
    display: flex;
}

.userpageTop_ProfileSectionLeft .profilePhoto {
    position: relative;
    display: flex;
}

.userpageTop_ProfileSectionLeft .profilePhoto .MuiAvatar-root {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border: 4px solid #fff;
}

.userpageTop_ProfileSectionLeft .profilePhoto .profileChangeIcon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 34px;
    height: 34px;
    padding: 6px;
    border-radius: 50%;
    color: black;
    background-color: #E4E6EB;
}

.userpageTop_ProfileSectionLeft .profilePhoto .profileChangeIcon:hover {
    cursor: pointer;
    background-color: lightgray;
}

.userpageTop_ProfileSectionLeft .profileInfo {
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 15px;
}

.userpageTop_ProfileSectionLeft .profileInfo h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 2px;
}

.userpageTop_ProfileSectionLeft .profileInfo a {
    color: initial;
    text-decoration: none;
}

.userpageTop_ProfileSectionLeft .profileInfo a p {
    font-size: 14px;
    font-weight: 600;
    color: #65676B;
}

.userpageTop_ProfileSectionLeft .profileInfo a p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.userpageTop_ProfileSectionLeft .profileInfo .friendsList {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.userpageTop_ProfileSectionLeft .profileInfo .friendsList .friendPhoto {
    display: flex;
}

.userpageTop_ProfileSectionLeft .profileInfo .friendsList .friendPhoto .MuiAvatar-root {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
}

.userpageTop_ProfileSectionRight {
    display: flex;
    margin-bottom: 10px;
}

.userpageTop_ProfileSectionRight .MuiSvgIcon-root {
    width: 20px;
    height: 22px;
}

.userpageTop_ProfileSectionRight #addStoryBtn {
    color: #fff;
    background-color: #1B74E4;
}

.userpageTop_ProfileSectionRight #editProfileBtn img {
    width: 14px;
}

.userpageTop_ProfileSectionRightOption {
    /* position: relative; */
    display: flex;
    align-items: center;
    padding: 8px 12px;
    margin-left: 6px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #E4E6EB;
}

.userpageTop_ProfileSectionRightOption a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.userpageTop_ProfileSectionRightOption a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.userpageTop_ProfileSectionRightOption .userpageTop_ProfileSectionRightOptionInner {
    display: flex;
    align-items: center;
}

.userpageTop_ProfileSectionRightOption p {
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
}

.editProfileModal {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    background: #fff;
}

.editProfileModalTop {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 12px;
    border-bottom: 1px solid #CED0D4;
    box-sizing: border-box;
}

.editProfileModalTop p {
    font-size: 20px;
    font-weight: 700;
}

.editProfileModalTop .MuiSvgIcon-root {
    position: absolute;
    right: 10px;
    width: 32px;
    height: 32px;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    color: #050505;
    background-color: #E4E6EB;
}

.editProfileModalTop .MuiSvgIcon-root:hover {
    cursor: pointer;
}

/* UserPage Top Components Section */
.userpageTop_Components {
    max-width: 1040px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    border-top: 1px solid rgb(197, 197, 197);
}

.userpageTop_ComponentsLeft {
    display: flex;
}

.userpageTop_ComponentsLeft a {
    height: fit-content;
    text-decoration: none;
    color: initial;
}

.userpageTop_ComponentsLeft a.active .userpageTop_ComponentsLeftOption {
    position: relative;
    color: #2381fa;
}

.userpageTop_ComponentsLeft a.active .userpageTop_ComponentsLeftOption:hover {
    background-color: transparent;
}

.userpageTop_ComponentsLeft a.active .userpageTop_ComponentsLeftOption::after {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    bottom: -2px;
    background-color: #2381fa;
}

.userpageTop_ComponentsLeft a.active .userpageTop_ComponentsLeftOption svg {
    color: #2381fa;
}

.userpageTop_ComponentsLeftOption {
    font-size: 14px;
    font-weight: 600;
    padding: 16px;
    margin: 2px 0;
    border-radius: 8px;
    color: #65676B;
}

.userpageTop_ComponentsLeftOption:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.userpageTop_ComponentsLeftOption#moreOption {
    display: flex;
    align-items: center;
    padding: 12px 14px;
}

.userpageTop_ComponentsLeftOption#moreOption svg {
    width: 18px;
    height: 18px;
    margin-left: 3px;
    color: #65676B;
}

.userpageTop_ComponentsRight {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-radius: 6px;
    background-color: #E4E6EB;
}

.userpageTop_ComponentsRight .MuiSvgIcon-root {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* UserPage Bottom Section */
.userpageBottom {
    max-width: 1040px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 15px;
}

.userpageBottom .userpageComponents {
    width: 100%;
}

/** Responsive Media Queries */
@media only screen and (max-width: 900px) {

    /* UserPage Top Cover Section */
    .coverImg .changeCoverPhoto p {
        display: none;
    }

    /* UserPage Top Profile Section */
    .userpageTop_ProfileSection {
        height: 280px;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
    }

    .userpageTop_ProfileSectionLeft {
        align-items: center;
        flex-direction: column;
    }

    .userpageTop_ProfileSectionLeft .profileInfo {
        margin: 8px 0px 18px 0px;
    }

    .userpageTop_ProfileSectionLeft .profileInfo a p {
        text-align: center;
    }

    .userpageTop_ProfileSectionLeft .profileInfo .friendsList {
        justify-content: center;
    }

    /* UserPage Bottom Section */
    .userpageBottom .userpageComponents {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 680px) {

    /* UserPage Top Components Section */
    .userpageTop_Components {
        justify-content: center;
    }

    .userpageTop_ComponentsLeftOption {
        padding: 12px;
    }

    .userpageTop_ComponentsRight {
        display: none;
    }
}