/** UserPage Friends Section */
.userpageFriends {
    height: auto;
    width: 400px;
    background-color: #fff;
    margin: 15px 0;
    border-radius: 8px;
    padding: 18px;
}

/* UserPage Friends Top Section */
.userpageFriends_Top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.userpageFriends_Top a {
    text-decoration: none;
    color: #1B74E4;
    font-size: 15px;
    font-weight: 400;
    padding: 8px;
    border-radius: 6px;
}

.userpageFriends_Top a:hover{
    background-color: whitesmoke;
    cursor: pointer;
}

/* UserPage Friends Bottom Section */
.userpageFriends_Bottom {
    display: flex;
}

.userpageFriends_BottomContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.userpageFriends_BottomContainerOptions img {
    object-fit: cover;
    width: 116px;
    height: 116px;
}

.userpageFriends_BottomContainerOptions p {
    font-size: 14px;
    font-weight: 500;
}