/** UserPage Components Posts Section */
.userpageComponentsPost {
    width: 100%;
    display: flex;
    justify-content: center;
}

.userpageComponentsPost_Left{
    flex: 0.4;
}

.userpageComponentsPost_Right{
    flex: 0.6;
}