/** UserPage Components Posts Section */
.userpageComponentsPost {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 940px;    
}

.userpageComponentsPost_Left,
.userpageComponentsPost_Right {
    margin: 0;
    padding: 0;
}