/* UserPage Components Posts Section */
.UserPageComponentsPost {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 940px;    
}

.UserPageComponentsPost_Left,
.UserPageComponentsPost_Right {
    margin: 0;
    padding: 0;
}