/** UserPage Feed Section */
.userpageFeed {
    display: flex;
    flex-direction: column;
    padding: 15px 0 15px 15px;
}

.userpageFeed .homepageFeedPosting {
    margin-top: 0;
}

/* UserPage Joined Post */
.userpageFeed .JoinedPost .JoinedPostMsg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.userpageFeed .JoinedPost .JoinedPostMsg #joinedImg {
    height: 28px;
    width: 28px;
    padding: 6px;
    margin-bottom: 8px;
    border-radius: 45%;
    background-color: #0866FF;
}

.userpageFeed .JoinedPost .JoinedPostMsg #joinedMsg {
    font-size: 18px;
    color: #050505;
}

.userpageFeed .JoinedPost .JoinedPostMsg #joinedMsg:hover {
    cursor: pointer;
    text-decoration: underline;
}

/** Responsive Media Queries */
@media only screen and (max-width: 900px) {

    /** UserPage Feed Section */
    .userpageFeed {
        display: flex;
        flex-direction: column;
        padding: 0 0 15px 0;
    }
}

@media only screen and (max-width: 680px) {}