/** UserPage Components Friends Section */
.UserpageComponents_Friends{
    width: 910px;
    padding: 16px;
    margin: 10px 0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
}

/* UserPage Components Friends Top Section */
.UserpageComponents_Friends_Top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.UserpageComponents_Friends_TopLeft h3{
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

.UserpageComponents_Friends_TopLeft h3:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.UserpageComponents_Friends_TopRight{
    display: flex;
    align-items: center;
}

.UserpageComponents_Friends_TopRight p{
    font-size: 14px;
    font-weight: 500;
    color: #0065D1;
    padding: 8px;
    margin: 0 4px;
    border-radius: 4px;
}

.UserpageComponents_Friends_TopRight p:hover{
    cursor: pointer;
    background-color: #E4E6EB;
}

.UserpageComponents_Friends_TopRight .moreOptions{
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 8px 12px;
    margin-left: 6px;
    width: 16px;
    height: 18px;
    background-color: #E4E6EB;
}

.UserpageComponents_Friends_TopRight .searchInp {
    display: flex;
    align-items: center;
    padding: 6px;
    margin: 0 4px;
    border-radius: 20px;
    background-color: #E4E6EB;
}

.UserpageComponents_Friends_TopRight .searchInp .MuiSvgIcon-root {
    width: 20px;
    margin-left: 4px;
    color: #606770;
    background-color: transparent;
}

.UserpageComponents_Friends_TopRight .searchInp input {
    border: 0;
    outline: 0;
    width: 135px;
    padding: 0 5px;
    font-size: 13px;
    color: #606770;
    background-color: transparent;
}

/* UserPage Components Friends Middle Section */
.UserpageComponents_Friends_Middle{
    display: flex;
}