::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 8px;
    /* Color of the scrollbar thumb */
}

::-webkit-scrollbar-track {
    background-color: #fff;
    margin: 8px;
}

/** Signup Section */
.signupModal {
    position: absolute;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
    inset: 80px 512px 80px 512px;
    background: #fff;
    border-radius: 8px;
    padding: 15px;
    outline: none;
    overflow-y: auto;
}

.signupModal #line {
    margin: 12px 0 4px 0;
}

/* Signup Top Section */
.signupModal_Top {
    position: relative;
    display: flex;
    flex-direction: column;
}

.signupModal_Top .MuiSvgIcon-root {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 4px;
    border-radius: 50%;
    background-color: #E4E6EB;
}

.signupModal_Top .MuiSvgIcon-root:hover {
    cursor: pointer;
}

/* Signup Middle Section */
.signupModal_Middle form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signupModal_Middle form input {
    font-size: 14px;
    padding: 10px 8px;
    width: 380px;
    height: 16px;
    margin: 8px 0;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    border-radius: 5px;
    outline: none;
}

.signupModal_Middle form #submitBtn {
    position: relative;
    overflow-y: hidden;
    height: 36px;
    width: 194px;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 700;
    padding: 0 16px;
    margin: 12px 0 0;
    color: #fff;
    background-color: #42b72a;
}

.signupModal_Middle .nameContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 398px;
}

.signupModal_Middle .nameContainer input {
    width: -webkit-fill-available;
}

.signupModal_Middle .passwordContainer {
    position: relative;
}

.signupModal_Middle .passwordToggle {
    position: absolute;
    top: 55%;
    right: 10px;
    color: gray;
    transform: translateY(-50%);
    cursor: pointer;
}

.signupModal_Middle .dobContainer {
    width: 398px;
    margin: 4px 0;
}

.signupModal_Middle .dobContainer #dobContainerTitle {
    color: #606770;
    font-size: 12px;
    margin-bottom: 2px;
}

.signupModal_Middle .dobOptions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.signupModal_Middle .dobOption select {
    width: 100%;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    padding: 6px 3px;
}

.signupModal_Middle .genderContainer {
    width: 398px;
    margin: 4px 0;
}

.signupModal_Middle .genderContainer #genderContainerTitle {
    color: #606770;
    font-size: 12px;
    margin-bottom: 2px;
}

.signupModal_Middle .genderOptions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.signupModal_Middle .genderOption {
    width: -webkit-fill-available;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 7px 2px 7px 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signupModal_Middle .genderOption p {
    font-size: 15px;
}

.signupModal_Middle .genderOption .MuiSvgIcon-root {
    transition: color 0.1s;
    width: 20px;
    height: auto;
}

.signupModal_Middle .genderOption .MuiSvgIcon-root.active {
    color: #007bff;
}

.signupModal_Middle .picturesBtn {
    font-size: 15px;
    padding: 7px;
    width: 398px;
    margin: 8px 0;
    border: 1px solid lightgray;
    color: gray;
    background-color: whitesmoke;
    border-radius: 5px;
    outline: none;
}

.signupModal_Middle img {
    width: 395px;
    height: 220px;
    border-radius: 5px;
    object-fit: contain;
    border: 1px solid lightgray;
    background-color: #fff;
}

.signupModal_Middle .notesContainer {
    width: 395px;
}

.signupModal_Middle .notesContainer span {
    color: #385898;
}

.signupModal_Middle .notesContainer span:hover {
    text-decoration: underline;
}

.signupModal_Middle .notesContainer #learnMoreNote,
.signupModal_Middle .notesContainer #termCondNote {
    font-size: 10px;
    font-weight: 500;
    padding: 4px 0;
    color: #777777;
}

.signupModal_Middle .loadingSpin {
    position: absolute;
    transform: translate(-50%, -50%);
    border: 3px solid #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;

    top: 17%;
    left: 45%;
    border-top: 3px solid #42b72a;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.signupModal_Middle .errorNote {
    width: 362px;
    color: red;
    font-size: 12px;
    padding: 3px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}