/** Friend Card Section */
.friendCard {
    width: 210px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
    background-color: #fff;
}

/* Friend Card Top Section */
.friendCardTop .MuiAvatar-root {
    width: 100%;
    height: 210px;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* Friend Card Content Section */
.friendCardContent {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 12px 12px 12px;
}

.friendCardContent #friendName {
    font-size: 16px;
    font-weight: 500;
    padding: 4px 0;
}

.friendCardContentBottom {
    display: flex;
    flex-direction: column;
}

.friendCardContentBottom button {
    width: 100%;
    height: 36px;
    font-size: 15px;
    font-weight: 600;
    padding: 0 10px;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.friendCardContentBottom button#addBtn,
.friendCardContentBottom button#pendingBtn, 
.friendCardContentBottom button#acceptBtn, 
.friendCardContentBottom button#acceptingBtn {
    color: #0064D1;
    background-color: #E7F3FF;
}

.friendCardContentBottom button#removeBtn,
.friendCardContentBottom button#rejectBtn,
.friendCardContentBottom button#rejectingBtn {
    margin-top: 10px;
    color: #050505;
    background-color: #E4E6EB;
}