/** FriendPage AllFriends Section */
.friendpageAllFriends{
    height: 92vh;
    display: flex;
    overflow: hidden;
}

/* FriendPage AllFriends Main Section */
.friendpageAllFriendsMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
}

/* FriendPage AllFriends Leftbar Section */
.friendpageAllFriendsLeftbar {
    width: 310px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
    background-color: #fff;
}

/* FriendPage AllFriends Leftbar Top Section */
.friendpageAllFriendsLeftbarTop {
    display: flex;
    flex-direction: column;
}

.friendpageAllFriendsLeftbarTop_Top {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.friendpageAllFriendsLeftbarTop_Top .MuiSvgIcon-root a {
    color: initial;
}

.friendpageAllFriendsLeftbarTop_Top .MuiSvgIcon-root {
    padding: 6px;
    color: #000;
}

.friendpageAllFriendsLeftbarTop_Top .MuiSvgIcon-root:hover {
    border-radius: 50%;
    background-color: whitesmoke;
}

.friendpageAllFriendsLeftbarTop_Top .texts {
    margin-left: 15px
}

.friendpageAllFriendsLeftbarTop_Top .texts #mainText {
    font-size: 10px;
    font-weight: 500;
}

.friendpageAllFriendsLeftbarTop_Top .texts #sideText {
    font-size: 24px;
    font-weight: 600;
}

.friendpageAllFriendsLeftbarTop_Bottom {
    margin-bottom: 15px;
}

.friendpageAllFriendsLeftbarTop_Bottom .searchInp {
    display: flex;
    align-items: center;
    background-color: #F0F2F5;
    border-radius: 20px;
    padding: 0px 8px;
    height: 35px;
}

.friendpageAllFriendsLeftbarTop_Bottom .searchInp .MuiSvgIcon-root {
    color: gray;
    height: 20px;
    padding: 0px 3px 0 0;
}

.friendpageAllFriendsLeftbarTop_Bottom .searchInp input {
    border: 0;
    outline: 0;
    background-color: transparent;
    min-width: 195px;
    font-size: 16px;
}

/* Friends All friends Leftbar Bottom Section*/
.friendpageAllFriendsLeftbarBottom {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.friendpageAllFriendsLeftbarBottom #friendsCount {
    margin: 0 0 8px 8px;
    font-size: 15px;
    font-weight: 600;
}

.friendpageAllFriendsLeftbarBottom .friendsList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8px;
    position: relative;
}

.friendpageAllFriendsLeftbarBottom .friendsList:hover {
    background-color: whitesmoke;
    cursor: pointer;
    border-radius: 8px;
}

.friendpageAllFriendsLeftbarBottom .friendsList .MuiSvgIcon-root {
    padding: 5px;
}

.friendpageAllFriendsLeftbarBottom .friendsList .MuiSvgIcon-root:hover {
    border-radius: 50%;
    background-color: rgb(202, 202, 202);
    cursor: pointer;
}

.friendpageAllFriendsLeftbarBottom .friendsList .friendsListInfo {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.friendpageAllFriendsLeftbarBottom .friendsList .friendsListInfo a {
    display: flex;
    align-items: center;
    color: initial;
    text-decoration: none;
}

.friendpageAllFriendsLeftbarBottom .friendsList .friendsListInfo p {
    margin-left: 8px;
}

/* Dialog Box */
.dialogBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    top: 50px;
    right: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 8px;
    z-index: 1;
}

.dialogBox button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    background-color: #fff;
    width: 120px;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
}