/** FriendPage AllFriends Section */
.friendpageAllFriends {
    height: calc(100% - 55px);
    display: flex;
    overflow: hidden;
}

/* FriendPage AllFriends Leftbar Section */
.friendpageAllFriendsLeftbar {
    height: 100%;
    width: 460px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    z-index: 10;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
    background-color: #fff;
}

/* FriendPage AllFriends Leftbar Top Section */
.friendpageAllFriendsLeftbarTop {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.friendpageAllFriendsLeftbarTop a {
    display: flex;
}

.friendpageAllFriendsLeftbarTop .MuiSvgIcon-root {
    width: 32px;
    height: 32px;
    padding: 6px;
    border-radius: 50%;
    color: #000;
}

.friendpageAllFriendsLeftbarTop .MuiSvgIcon-root:hover {
    background-color: whitesmoke;
}

.friendpageAllFriendsLeftbarTop .heading {
    margin-left: 15px
}

.friendpageAllFriendsLeftbarTop .heading #mainText {
    font-size: 10px;
    font-weight: 500;
}

.friendpageAllFriendsLeftbarTop .heading #sideText {
    font-size: 24px;
    font-weight: 600;
}

/* FriendPage AllFriends Leftbar Middle Section */
.friendpageAllFriendsLeftbarMiddle.searchContainer {
    margin: 0 0 10px 0;
}

.friendpageAllFriendsLeftbarMiddle.searchContainer input {
    width: 100%;
}

/* FriendPage AllFriends Leftbar Bottom Section */
.friendpageAllFriendsLeftbarBottom {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    /* border-top: 1px solid lightgray; */
}

.friendpageAllFriendsLeftbarBottom #friendsCount {
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 8px 8px;
}

.friendpageAllFriendsLeftbarBottom .friendsList {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 8px;
    border-radius: 8px;
}

.friendpageAllFriendsLeftbarBottom .friendsList:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.friendpageAllFriendsLeftbarBottom .friendsList.active {
    background-color: whitesmoke;
}

.friendsList .friendsListLeft {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.friendsList .friendsListLeft a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: initial;
}

.friendsList .friendsListLeft p {
    margin-left: 10px;
}

.friendsList .friendsListRight {
    display: flex;
}

.friendsList .friendsListRight .MuiSvgIcon-root {
    width: 36px;
    height: 36px;
    padding: 6px;
    border-radius: 50%;
    color: #65676B;
}

.friendsList .friendsListRight .MuiSvgIcon-root:hover {
    cursor: pointer;
    background-color: rgb(202, 202, 202);
}

.friendsList .friendsListRight .settingBox {
    position: absolute;
    top: 50px;
    left: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.settingBox .settingBoxOption {
    width: 100%;
    display: flex;
    padding: 8px;
    border-radius: 8px;
}

.settingBox .settingBoxOption:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.settingBoxOptionLeft {
    display: flex;
    margin-top: 5px;
}

.settingBoxOptionLeft #unfriendIcon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yU/r/88nYD03nvqt.png');
    background-position: 0px -84px;
    background-size: auto;
}

.settingBoxOptionLeft #unfriendIcon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yU/r/88nYD03nvqt.png');
    background-position: 0px -84px;
    background-size: auto;
}

.settingBoxOptionRight {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.settingBoxOptionRight h5 {
    font-size: 14px;
    font-weight: 600;
    color: #050505;
    margin-bottom: 3px;
}

.settingBoxOptionRight p {
    font-size: 12px;
    font-weight: 400;
    color: #65676B;
}

/* FriendPage AllFriends Main Section */
.friendpageAllFriendsMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
}

/** Responsive Media Queries */
@media only screen and (max-width: 1200px) {

    /* FriendPage AllFriends Main Profile Page Section */
    .friendpageAllFriendsMain .profilePageTop_ProfileSection {
        height: 280px;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
    }

    .friendpageAllFriendsMain .profilePageTop_ProfileSectionLeft {
        align-items: center;
        flex-direction: column;
    }

    .friendpageAllFriendsMain .profilePageTop_ProfileSectionLeft .profileInfo {
        margin: 8px 0px 18px 0px;
    }

    .friendpageAllFriendsMain .profilePageTop_ProfileSectionLeft .profileInfo a p {
        text-align: center;
    }

    .friendpageAllFriendsMain .profilePageTop_ProfileSectionLeft .profileInfo .friendsList {
        justify-content: center;
    }

    .friendpageAllFriendsMain .profilePageTop_ProfileSectionRight {
        margin-bottom: 0px;
    }

    /* FriendPage AllFriends Main Profile Page Top Components Section */
    .friendpageAllFriendsMain .profilePageTop_Components {
        justify-content: center;
    }

    .friendpageAllFriendsMain .profilePageTop_ComponentsLeftOption {
        padding: 12px;
    }

    .friendpageAllFriendsMain .profilePageTop_ComponentsRight {
        display: none;
    }

    /* FriendPage AllFriends Main Profile Page Bottom Section */
    .friendpageAllFriendsMain .profilePageBottom .profilePageComponents {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}