/** FriendPage Home Section */
.friendpageHome {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* FriendPage Home Top Section */
.friendpageHomeTop p {
    font-size: 20px;
    font-weight: 650;
    padding: 25px 0 15px;
}

/* FriendPage Home Bottom Section */
.friendpageHomeBottom {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding-bottom: 25px;
}