/* friendspage_Allfriends Allfriends Section */
.friendspage_Allfriends{
    overflow: hidden;
    display: flex;
    height: 91.5vh;
}

.friendspage_Allfriends_leftbar{
    position: sticky;
    top: 0;
}

.friendspage_Allfriends_Main{
    overflow-y: auto;
    overflow-x: hidden;
}