/* Friends Main Home Page*/
.friendspageMainHome {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 20px 30px;
    overflow-y: auto;
    overflow-x: hidden;
}

.friendspageMainHome .friendspageMainHome_top p {
    padding: 10px 0 15px;
    font-size: 18px;
    font-weight: 700;
}

.friendspageMainHome .friendspageMainHome_bottom {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}