/* Friends Page */
.friendspage{
    overflow: hidden;
    display: flex;
}

.friendspage_leftbar{
    position: sticky;
    top: 0;
}

.friendspage_Main{
    overflow-y: auto;
    overflow-x: hidden;
}