/** FriendsPage AllFriends Section */
.friendspage_Allfriends{
    height: 91.5vh;
    display: flex;
    overflow: hidden;
}

/* FriendsPage AllFriends Main Section */
.friendspage_Allfriends_Main{
    width: 100%;
    overflow-y: auto;
}