/** ProfilePageComponentsPost Section */
.profilePageComponentsPost {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profilePageComponentsPost_Left{
    flex: 0.4;
}

.profilePageComponentsPost_Right{
    flex: 0.6;
}

/** Responsive Media Queries */
@media only screen and (max-width: 900px) {

    /** ProfilePageComponentsPost Section */
    .profilePageComponentsPost {
        width: 75%;
        flex-direction: column;
    }
}

@media only screen and (max-width: 680px) {

    /** ProfilePageComponentsPost Section */
    .profilePageComponentsPost {
        width: 100%;
        flex-direction: column;
    }
}