/** ProfilePageComponentsPhotos Section */
.profilePageComponentsPhotos {
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
    background-color: #fff;
}

/* ProfilePageComponentsPhotos Top Section */
.profilePageComponentsPhotos_Top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profilePageComponentsPhotos_Top h3 {
    font-size: 18px;
    font-weight: 700;
    color: #050505;
}

.profilePageComponentsPhotos_Top h3:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.profilePageComponentsPhotos_TopRight {
    display: flex;
    align-items: center;
}

.profilePageComponentsPhotos_TopRight p {
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    margin: 0 4px;
    border-radius: 4px;
    color: #0065D1;
}

.profilePageComponentsPhotos_TopRight p:hover {
    cursor: pointer;
    background-color: #E4E6EB;
}

.profilePageComponentsPhotos_TopRight .MuiSvgIcon-root.moreOptions {
    width: 46px;
    height: 36px;
    padding: 2px 12px;
    margin-left: 6px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #E4E6EB;
}

/* ProfilePageComponentsPhotos Middle Section */
.profilePageComponentsPhotos_Middle {
    width: 100%;
}

.profilePageComponentsPhotos_Middle .profilePagePhotos {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
}

.profilePageComponentsPhotos_Middle .profilePagePhotos_Top {
    display: none;
}

.profilePageComponentsPhotos_Middle .profilePagePhotos_Bottom {
    display: flex;
    justify-content: flex-start;
}

.profilePageComponentsPhotos_Middle .profilePagePhotos_BottomContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.profilePageComponentsPhotos_Middle .profilePagePhotos_BottomContainer img {
    object-fit: cover;
    border-radius: 5px;
}