/** Profile Page Components About Section */
.profilePageComponentsAbout{
    width: 940px;
    margin: 10px 0;
    display: flex;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
}

/* ProfilePage Components About Left Section */
.profilePageComponentsAbout_Left{
    padding: 14px 6px;
    border-right: 1px solid lightgray;
}

.profilePageComponentsAbout_Left h3{
    color: #000;
    font-size: 18px;
    font-weight: 700;
    margin: 0 8px 10px;
}

.profilePageComponentsAbout_Left h3:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.profilePageComponentsAbout_Left p{
    min-width: 230px;
    padding: 8px;
    margin-bottom: 4px;
    border-radius: 6px;

    font-size: 14px;
    font-weight: 500;
    color: #65676B;
}

.profilePageComponentsAbout_Left p:hover{
    cursor: pointer;
    background-color: #E4E6EB;
}

.profilePageComponentsAbout_Left p .active{
    color: #0866FF;
    background-color: #EBF5FF;
}

/* ProfilePage Components About Right Section */
.profilePageComponentsAbout_Right{
    width: 100%;
    padding: 15px;
}

.profilePageComponentsAbout_RightOption{
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.profilePageComponentsAbout_RightOption:hover{
    color: #0866FF;
    cursor: pointer;
    text-decoration: underline;
}

.profilePageComponentsAbout_RightOption p{
    font-size: 14px;
    font-weight: 500;
    padding: 6px;
    color: #0866FF;
}

.profilePageComponentsAbout_RightOption .MuiSvgIcon-root{
    width: 20px;
    height: 20px;
    color: #0866FF;
    padding: 1px;
    border-radius: 50%;
    border: 1px solid #0866FF;
    margin-right: 8px;
}

