/** ProfilePageComponentsVideos Section */
.profilePageComponentsVideos {
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
    background-color: #fff;
}

/* ProfilePageComponentsVideos Top Section */
.profilePageComponentsVideos_Top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profilePageComponentsVideos_Top h3 {
    font-size: 18px;
    font-weight: 700;
    color: #050505;
}

.profilePageComponentsVideos_Top h3:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.profilePageComponentsVideos_TopRight {
    display: flex;
    align-items: center;
}

.profilePageComponentsVideos_TopRight p {
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    margin: 0 4px;
    border-radius: 4px;
    color: #0065D1;
}

.profilePageComponentsVideos_TopRight p:hover {
    cursor: pointer;
    background-color: #E4E6EB;
}

.profilePageComponentsVideos_TopRight .moreOptions {
    width: 46px;
    height: 36px;
    padding: 2px 12px;
    margin-left: 6px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #E4E6EB;
}

/* ProfilePageComponentsVideos Middle Section */
.profilePageComponentsVideos_Middle {
    width: 100%;
}

.profilePageComponentsVideos_Middle .profilePageVideos {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
}

.profilePageComponentsVideos_Middle .profilePageVideos_Top {
    display: none;
}

.profilePageComponentsVideos_Middle .profilePageVideos_Bottom {
    display: flex;
    justify-content: flex-start;
}

.profilePageComponentsVideos_Middle .profilePageVideos_BottomContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.profilePageComponentsVideos_Middle .profilePageVideos_BottomContainer video {
    object-fit: cover;
    border-radius: 5px;
}

/** Responsive Media Queries */
@media only screen and (max-width: 900px) {

    /* ProfilePageComponentsVideos Middle Section */
    .profilePageComponentsVideos_Middle .profilePageVideos_BottomContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 680px) {

    /* ProfilePageComponentsVideos Middle Section */
    .ProfilePageComponentsVideos_Middle .profilePageVideos_BottomContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}