/** ProfilePage Friends Section */
.profilePageFriends {
    width: 360px;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* ProfilePage Friends Top Section */
.profilePageFriends_Top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.profilePageFriends_Top #navLink {
    color: initial;
    text-decoration: none;
}

.profilePageFriends_Top #navLink:hover {
    cursor: pointer;
    text-decoration: underline;
}

.profilePageFriends_Top #seeAllLink {
    font-size: 15px;
    font-weight: 400;
    padding: 8px;
    border-radius: 6px;
    color: #1B74E4;
}

.profilePageFriends_Top #seeAllLink:hover{
    cursor: pointer;
    background-color: whitesmoke;
}

/* ProfilePage Friends Bottom Section */
.profilePageFriends_Bottom {
    display: flex;
}

.profilePageFriends_BottomContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.profilePageFriends_BottomContainerOptions:hover {
    text-decoration: underline;
    cursor: pointer;
}

.profilePageFriends_BottomContainerOptions .MuiAvatar-root {
    width: 100%;
    height: 110px;
    border-radius: 6px;
}

.profilePageFriends_BottomContainerOptions p {
    font-size: 13px;
    font-weight: 500;
}