/** ProfilePageComponentsPost Section */
.profilePageComponentsPost {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profilePageComponentsPost_Left{
    flex: 0.4;
}

.profilePageComponentsPost_Right{
    flex: 0.6;
}