/** Profile Page Section */
.profilePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 100vh;
}

/* Profile Page Top Section */
.profilePageTop {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
}

/* Profile Page Top Cover Section */
.profilePageTop_CoverSection {
    position: relative;
    width: 100%;
    max-width: 995px;
}

.profilePageTop_CoverSection img {
    width: 995px;
    height: 370px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    object-fit: cover;
}

.profilePageTop_CoverSection button {
    position: absolute;
    top: 320px;
    right: 27px;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.profilePageTop_CoverSection button:hover {
    cursor: pointer;
}

.profilePageTop_CoverSection p {
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
}

.profilePageTop_CoverSection .MuiSvgIcon-root {
    width: 16px;
    height: 20px;
}

/* Profile Page Top Profile Section */
.profilePageTop_ProfileSection {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 940px;
    height: 90px;
    margin-bottom: 12px;
}

.profilePageTop_ProfileSectionLeft {
    display: flex;
    align-items: flex-end;
}

.profilePageTop_ProfileSectionLeftPhoto {
    position: relative;
}

.profilePageTop_ProfileSectionLeftPhoto img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
}

.profilePageTop_ProfileSectionLeftPhoto .MuiSvgIcon-root {
    color: black;
    background-color: #E4E6EB;
    border-radius: 50%;
    padding: 6px;
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
}

.profilePageTop_ProfileSectionLeftPhoto .MuiSvgIcon-root:hover {
    background-color: lightgray;
    cursor: pointer;
}

.profilePageTop_ProfileSectionLeftInfo {
    display: flex;
    flex-direction: column;
    padding-left: 14px;
    margin-bottom: 25px;
}

.profilePageTop_ProfileSectionLeftInfo h3 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 2px;
}

.profilePageTop_ProfileSectionLeftInfo p {
    font-size: 14px;
    font-weight: 500;
    color: gray;
}

.profilePageTop_ProfileSectionRight {
    display: flex;
    margin-bottom: 25px;
}

.profilePageTop_ProfileSectionRight .MuiSvgIcon-root {
    width: 20px;
    height: 22px;
}

.profilePageTop_ProfileSectionRightOption {
    background-color: #E4E6EB;
    border-radius: 6px;
    padding: 5px 10px;
    margin-left: 6px;
    display: flex;
    align-items: center;
}

.profilePageTop_ProfileSectionRightOption:hover {
    cursor: pointer;
}

.profilePageTop_ProfileSectionRightOption p {
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
}

.profilePageTop_ProfileSectionRight #addStoryBtn {
    background-color: #1B74E4;
    color: #fff;
}

.profilePageTop_ProfileSectionRight #editProfileBtn img {
    width: 14px;
}

/* Profile Page Top Components Section */
.profilePageTop_Components {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 940px;
    border-top: 1px solid rgb(197, 197, 197);
}

.profilePageTop_ComponentsLeft {
    display: flex;
}

.profilePageTop_ComponentsLeft a {
    text-decoration: none;
    color: initial;
    height: fit-content;
}

.profilePageTop_ComponentsLeft a.active .profilePageTop_ComponentsLeftOption {
    position: relative;
    color: #2381fa;
}

.profilePageTop_ComponentsLeft a.active .profilePageTop_ComponentsLeftOption:hover {
    background-color: transparent;
}

.profilePageTop_ComponentsLeft a.active .profilePageTop_ComponentsLeftOption::after {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    bottom: -2px;
    background-color: #2381fa;
}

.profilePageTop_ComponentsLeft a.active .profilePageTop_ComponentsLeftOption svg {
    color: #2381fa;
}

.profilePageTop_ComponentsLeftOption {
    font-size: 14px;
    font-weight: 600;
    padding: 14px;
    margin: 2px 0;
    border-radius: 8px;
    color: #65676B;
}

.profilePageTop_ComponentsLeftOption:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.profilePageTop_ComponentsLeftOption#moreOption {
    display: flex;
    align-items: center;
    padding: 11px 14px;
}

.profilePageTop_ComponentsLeftOption#moreOption svg {
    color: #65676B;
    width: 18px;
    height: 18px;
    margin-left: 3px;
}

.profilePageTop_ComponentsRight {
    background-color: #E4E6EB;
    border-radius: 6px;
    padding: 5px 10px;
    margin-left: 6px;
    display: flex;
    align-items: center;
}

.profilePageTop_ComponentsRight .MuiSvgIcon-root {
    width: 20px;
    height: 22px;
}

.profilePageTop_ComponentsRight .MuiSvgIcon-root:hover {
    cursor: pointer;
}

/* Profile Page Bottom Section */
.profilePageBottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 940px;
}

.profilePageBottomLeft,
.profilePageBottomRight {
    margin: 0;
    padding: 0;
}