/** ProfilePage Components Post Section */
.profilePageComponentsPost {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 940px;    
}

.profilePageComponentsPost_Left,
.profilePageComponentsPost_Right {
    margin: 0;
    padding: 0;
}