/** ProfilePageFeed Section */
.profilePageFeed {
    display: flex;
    flex-direction: column;
    padding: 15px 0 15px 15px;
}

.profilePageFeed > .postfeed{
    margin-top: 0;
}

.profilePageFeed > .JoinedPost .postfeed{
    margin-top: 0;
}

/* rofilePageFeed Joined Post */
.profilePageFeed .JoinedPost .JoinedPostMsg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.profilePageFeed .JoinedPost .JoinedPostMsg #joinedImg {
    height: 28px;
    width: 28px;
    padding: 6px;
    margin-bottom: 8px;
    border-radius: 45%;
    background-color: #0866FF;
}

.profilePageFeed .JoinedPost .JoinedPostMsg #joinedMsg {
    font-size: 18px;
    color: #050505;
}

.profilePageFeed .JoinedPost .JoinedPostMsg #joinedMsg:hover {
    cursor: pointer;
    text-decoration: underline;
}