/** ProfilePage Components Videos Section */
.ProfilePageComponents_Videos{
    width: 910px;
    padding: 16px;
    margin: 10px 0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
}

/* ProfilePage Components Videos Top Section */
.ProfilePageComponents_Videos_Top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.ProfilePageComponents_Videos_Top h3{
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

.ProfilePageComponents_Videos_Top h3:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.ProfilePageComponents_Videos_TopRight{
    display: flex;
    align-items: center;
}

.ProfilePageComponents_Videos_TopRight p{
    font-size: 14px;
    font-weight: 500;
    color: #0065D1;
    padding: 8px;
    margin: 0 4px;
    border-radius: 4px;
}

.ProfilePageComponents_Videos_TopRight p:hover{
    cursor: pointer;
    background-color: #E4E6EB;
}

.ProfilePageComponents_Videos_TopRight .moreOptions{
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 8px 12px;
    margin-left: 6px;
    width: 16px;
    height: 18px;
    background-color: #E4E6EB;
}

/* ProfilePage Components Videos Middle Section */
.ProfilePageComponents_Videos_Middle{
    width: 100%;
}

.ProfilePageComponents_Videos_Middle .ProfilePageVideos{
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
}

.ProfilePageComponents_Videos_Middle .ProfilePageVideos_Top{
    display: none;
}

.ProfilePageComponents_Videos_Middle .ProfilePageVideos_Bottom {
    display: flex;
    justify-content: flex-start;
}

.ProfilePageComponents_Videos_Middle .ProfilePageVideos_BottomContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 9px;
}

.ProfilePageComponents_Videos_Middle .ProfilePageVideos_BottomContainer video {
    object-fit: cover;
    width: 175px;
    height: 175px;
    border-radius: 5px;
}