/** ProfilePage Section */
.ProfilePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 100vh;
}

/** ProfilePage Top Section */
.ProfilePage_Top {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
}

/* ProfilePage Top Cover Section */
.ProfilePage_TopCoverSection {
    position: relative;
    width: 100%;
    max-width: 995px;
}

.ProfilePage_TopCoverSection img {
    width: 995px;
    height: 370px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    object-fit: cover;
}

.ProfilePage_TopCoverSection button {
    position: absolute;
    top: 320px;
    right: 27px;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.ProfilePage_TopCoverSection button:hover {
    cursor: pointer;
}

.ProfilePage_TopCoverSection p {
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
}

.ProfilePage_TopCoverSection .MuiSvgIcon-root {
    width: 16px;
    height: 20px;
}

/* ProfilePage Top Profile Section */
.ProfilePage_TopProfileSection {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 940px;
    height: 90px;
    margin-bottom: 12px;
}

/* ProfilePage Top Left Profile Section */
.ProfilePage_TopProfileSection_Left {
    display: flex;
    align-items: flex-end;
}

.ProfilePage_TopProfileSection_LeftPhoto {
    position: relative;
}

.ProfilePage_TopProfileSection_LeftPhoto img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
}

.ProfilePage_TopProfileSection_LeftPhoto .MuiSvgIcon-root {
    color: black;
    background-color: #E4E6EB;
    border-radius: 50%;
    padding: 6px;
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
}

.ProfilePage_TopProfileSection_LeftPhoto .MuiSvgIcon-root:hover {
    background-color: lightgray;
    cursor: pointer;
}

.ProfilePage_TopProfileSection_LeftInfo {
    display: flex;
    flex-direction: column;
    padding-left: 14px;
    margin-bottom: 25px;
}

.ProfilePage_TopProfileSection_LeftInfo h3 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 2px;
}

.ProfilePage_TopProfileSection_LeftInfo p {
    font-size: 14px;
    font-weight: 500;
    color: gray;
}

/* ProfilePage Top Right Profile Section */
.ProfilePage_TopProfileSection_Right {
    display: flex;
    margin-bottom: 25px;
}

.ProfilePage_TopProfileSection_Right .MuiSvgIcon-root {
    width: 20px;
    height: 22px;
}

.ProfilePage_TopProfileSection_RightOption {
    background-color: #E4E6EB;
    border-radius: 6px;
    padding: 5px 10px;
    margin-left: 6px;
    display: flex;
    align-items: center;
}

.ProfilePage_TopProfileSection_RightOption:hover {
    cursor: pointer;
}

.ProfilePage_TopProfileSection_RightOption p {
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
}

.ProfilePage_TopProfileSection_Right #addStoryBtn {
    background-color: #1B74E4;
    color: #fff;
}

.ProfilePage_TopProfileSection_Right #editProfileBtn img {
    width: 14px;
}

/* ProfilePage Top Components Section */
.ProfilePage_TopComponents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 940px;
    border-top: 1px solid rgb(197, 197, 197);
}

/* ProfilePage Top Left Components Section */
.ProfilePage_TopComponents_Left {
    display: flex;
}

.ProfilePage_TopComponents_Left a{
    text-decoration: none;
    color: initial;
    height: fit-content;
}

.ProfilePage_TopComponents_Left a.active .ProfilePage_TopComponents_LeftOption{
    position: relative;
    color: #2381fa;
}

.ProfilePage_TopComponents_Left a.active .ProfilePage_TopComponents_LeftOption:hover{
    background-color: transparent;
}

.ProfilePage_TopComponents_Left a.active .ProfilePage_TopComponents_LeftOption::after{
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    bottom: -2px;
    background-color: #2381fa;
}

.ProfilePage_TopComponents_Left a.active .ProfilePage_TopComponents_LeftOption svg{
    color: #2381fa;
}

.ProfilePage_TopComponents_LeftOption {
    font-size: 14px;
    font-weight: 600;
    padding: 14px;
    margin: 2px 0;
    border-radius: 8px;
    color: #65676B;
}

.ProfilePage_TopComponents_LeftOption:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.ProfilePage_TopComponents_LeftOption#moreOption {
    display: flex;
    align-items: center;
    padding: 11px 14px;
}

.ProfilePage_TopComponents_LeftOption#moreOption svg{
    color: #65676B;
    width: 18px;
    height: 18px;
    margin-left: 3px;
}

/* ProfilePage Top Right Components Section */
.ProfilePage_TopComponents_Right {
    background-color: #E4E6EB;
    border-radius: 6px;
    padding: 5px 10px;
    margin-left: 6px;
    display: flex;
    align-items: center;
}

.ProfilePage_TopComponents_Right .MuiSvgIcon-root {
    width: 20px;
    height: 22px;
}

.ProfilePage_TopComponents_Right .MuiSvgIcon-root:hover {
    cursor: pointer;
}

/** ProfilePage Bottom Section */
.ProfilePage_Bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 940px;    
}

.ProfilePage_BottomLeft,
.ProfilePage_BottomRight {
    margin: 0;
    padding: 0;
}