/** ProfilePageComponentsFriends Section */
.profilePageComponentsFriends {
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
    background-color: #fff;
}

/* ProfilePageComponentsFriends Top Section */
.profilePageComponentsFriends_Top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profilePageComponentsFriends_TopLeft h3 {
    font-size: 18px;
    font-weight: 700;
    color: #050505;
}

.profilePageComponentsFriends_TopLeft h3:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.profilePageComponentsFriends_TopRight {
    display: flex;
    align-items: center;
}

.profilePageComponentsFriends_TopRight .searchInp {
    display: flex;
    align-items: center;
    padding: 6px;
    margin: 0 4px;
    border-radius: 20px;
    background-color: #E4E6EB;
}

.profilePageComponentsFriends_TopRight .searchInp .MuiSvgIcon-root {
    width: 20px;
    margin-left: 4px;
    color: #606770;
    background-color: transparent;
}

.profilePageComponentsFriends_TopRight .searchInp input {
    border: 0;
    outline: 0;
    width: 135px;
    padding: 0 5px;
    font-size: 13px;
    color: #606770;
    background-color: transparent;
}

.profilePageComponentsFriends_TopRight p {
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    margin: 0 4px;
    border-radius: 4px;
    color: #0065D1;
}

.profilePageComponentsFriends_TopRight p:hover {
    cursor: pointer;
    background-color: #E4E6EB;
}

.profilePageComponentsFriends_TopRight .MuiSvgIcon-root.moreOptions {
    width: 46px;
    height: 36px;
    padding: 2px 12px;
    margin-left: 6px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #E4E6EB;
}

/* ProfilePageComponentsFriends Middle Section */
.profilePageComponentsFriends_Middle {
    width: 100%;
}

.profilePageComponentsFriends_Middle .profilePageFriends {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
}

.profilePageComponentsFriends_Middle .profilePageFriends_Top {
    display: none;
}

.profilePageComponentsFriends_Middle .profilePageFriends_Bottom {
    display: flex;
    justify-content: flex-start;
}

.profilePageComponentsFriends_Middle .profilePageFriends_BottomContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 15px;
}

.profilePageComponentsFriends_Middle .profilePageFriends_BottomContainerOptions {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #E4E6EB;
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.1);
}

.profilePageComponentsFriends_Middle .profilePageFriends_BottomContainerOptions p {
    font-size: 14px;
    margin-left: 15px;
}

.profilePageComponentsFriends_Middle .profilePageFriends_BottomContainerOptions .MuiAvatar-root {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 5px;
}

/** Responsive Media Queries */
@media only screen and (max-width: 900px) {

    /* ProfilePageComponentsFriends Top Section */
    .profilePageComponentsFriends_TopRight p {
        display: none;
    }
}

@media only screen and (max-width: 680px) {

    /* ProfilePageComponentsFriends Top Section */
    .profilePageComponentsFriends_TopRight .searchInp .MuiSvgIcon-root {
        width: 28px;
        height: 28px;
        padding: 4px;
        margin-left: 0px;
    }

    .profilePageComponentsFriends_TopRight .searchInp input {
        display: none;
    }

    /* ProfilePageComponentsFriends Middle Section */
    .profilePageComponentsFriends_Middle .profilePageFriends_BottomContainerOptions {
        flex-direction: column;
    }

    .profilePageComponentsFriends_Middle .profilePageFriends_BottomContainerOptions p {
        font-size: 14px;
        margin: 8px 0px 0px 0px;
    }
}