/** VideoPage Section */
.videoPage {
    height: 93vh;
    display: flex;
    overflow: hidden;
}

/* VideoPage LeftBar Section */
.videoPageLeftbar {
    height: 100%;
    width: 460px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
    background-color: #fff;
}

.videoPageLeftbarTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px 0 10px;
    padding: 0 2px 0 8px;
}

.videoPageLeftbarTop p {
    font-size: 22px;
    font-weight: 700;
}

.videoPageLeftbarTop .MuiSvgIcon-root {
    width: 32px;
    height: 32px;
    padding: 6px;
    margin-right: 3px;
    border-radius: 50%;
    background-color: #E4E6EB;
}

.videoPageLeftbarTop .MuiSvgIcon-root:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
}

.videoPageLeftbarBottom {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    gap: 3px;
}

.videoPageLeftbarBottom a {
    color: initial;
    text-decoration: none;
    border-radius: 8px;
}

.videoPageLeftbarBottomOption {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 3ms ease-in-out;
}

.videoPageLeftbarBottomOption:hover,
.videoPageLeftbarBottom a.active {
    background-color: #F0F2F5;
}

.videoPageLeftbarBottom a.active .MuiSvgIcon-root {
    color: #fff;
    background-color: #1877f2;
}

.videoPageLeftbarBottom a.active .MuiSvgIcon-root #savePostIcon {
    filter: invert(100%);
}

.videoPageLeftbarBottomOption p {
    font-size: 15px;
    font-weight: 600;
}

.videoPageLeftbarBottomOption .MuiSvgIcon-root {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #E4E6EB;
}

.videoPageLeftbarBottomOption #savePostIcon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yu/r/doFgS_h9Kyh.png');
    background-position: 0px -83px;
    background-size: 41px 503px;
}

/* VideoPage Main Section */
.videoPageMain {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/** Responsive Media Queries */
@media only screen and (max-width: 950px) {

    /** VideoPage Section */
    .videoPage {
        flex-direction: column;
    }

    /* VideoPage LeftBar Section */
    .videoPageLeftbar {
        height: fit-content;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 10px 15px;
    }

    .videoPageLeftbarTop {
        margin: 0px;
        padding: 0px 12px 0px 0px;
    }

    .videoPageLeftbarTop .MuiSvgIcon-root {
        display: none;
    }

    .videoPageLeftbarBottom {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .videoPageLeftbarBottomOption {
        padding: 8px 12px;
        border-radius: 25px;
        background-color: #E4E6EB;
    }

    .videoPageLeftbarBottomOption:hover {
        border-radius: 25px;
        background-color: #F0F2F5;
    }

    .videoPageLeftbarBottom a {
        border-radius: 25px;
    }

    .videoPageLeftbarBottom a.active .videoPageLeftbarBottomOption {
        border-radius: 25px;
        background-color: #EBF5FF;
    }

    .videoPageLeftbarBottom a.active .videoPageLeftbarBottomOption p {
        color: #0064D1;
    }

    .videoPageLeftbarBottomOption .MuiSvgIcon-root {
        display: none;
    }
}

@media only screen and (max-width: 680px) {

}