/** Saved Page Main Section */
.SavedPageMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SavedPageMain .savedPosts {
    display: flex;
    /* flex-direction: column; */

    width: 980px;
    height: 145px;
    padding: 15px;
}

.savedPosts_Left img,
.savedPosts_Left video {
    width: 145px;
    height: 145px;
    object-fit: cover;
}

/* .savedPosts_Right p{

} */