/** Post Like Section */
.postLike {
    width: 560px;
    height: 460px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    background: #fff;
}

/* Post Like Top Section */
.postLikeTop {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-bottom: 1px solid #CED0D4;
    box-sizing: border-box;
}

.postLikeTop .MuiSvgIcon-root {
    position: absolute;
    right: 10px;
    width: 32px;
    height: 32px;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    color: #050505;
    background-color: #E4E6EB;
}

.postLikeTop p {
    font-size: 20px;
    font-weight: 600;
}

/* Post Like Middle Section */
.postLikeMiddle {
    width: 100%;
    height: 410px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    box-sizing: border-box;
}

.postLikeMiddle .likedUsersInfo {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.postLikeMiddle .likedUsersInfo:last-child {
    margin-bottom: 0px;
}

.postLikeMiddle .likedUsersInfo span {
    font-size: 16px;
    font-weight: 600;
    margin-left: 8px;
}

/** Responsive Media Queries */
@media only screen and (max-width: 950px) {

    /** Post Like Section */
    .postLike {
        width: 480px;
        height: 400px;
    }
}

@media only screen and (max-width: 680px) {
    /** Post Like Section */
    .postLike {
        width: 70%;
        height: 380px;
    }
}