/** Post Comment Section */
.postComment {
    width: 560px;
    height: 460px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    background: #fff;
}

/* Post Comment Top Section */
.postCommentTop {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-bottom: 1px solid #CED0D4;
    box-sizing: border-box;
}

.postCommentTop .MuiSvgIcon-root {
    position: absolute;
    right: 10px;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
    color: #050505;
    background-color: #E4E6EB;
}

.postCommentTop p {
    font-size: 20px;
    font-weight: 600;
}

/* Post Comment Middle Section */
.postCommentMiddle {
    width: 100%;
    height: 360px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    box-sizing: border-box;
}

.postCommentMiddle:last-child {
    margin-bottom: 0px;
}

.postCommentMiddle .comments {
    display: flex;
    margin-bottom: 15px;
}

.postCommentMiddle .comments:last-child {
    margin-bottom: 0px;
}

.comments .commentInner {
    display: flex;
    flex-direction: column;
}

.commentInner .commentTop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8px;
    background-color: whitesmoke;
    border-radius: 18px;
    padding: 6px 14px;
}

.commentInner .commentTop h4 {
    font-size: 16px;
    font-weight: 600;
}

.commentInner .commentTop p {
    font-size: 15px;
    font-weight: 400;
    max-width: 460px;
    word-wrap: break-word;
}

.commentInner .commentBottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2px 0 0 22px;
}

.commentInner .commentBottom button {
    font-size: 12px;
    font-weight: 500;
    margin-right: 15px;
    outline: none;
    border: none;
    color: #65676B;
    background-color: initial;
}

.commentInner .commentBottom p {
    font-weight: 500;
    font-size: 12px;
    color: #65676B;
}

.commentInner .commentBottom button:hover,
.commentInner .commentBottom p:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Post Comment Bottom Section */
.postCommentBottom {
    width: 100%;
    padding: 0 12px;
    border-top: 1px solid #CED0D4;
    box-sizing: border-box;
}

.postCommentBottom .commentInput {
    position: relative;
    display: flex;
    align-items: center;
}

.commentInput .sendBtn {
    position: absolute;
    right: 6px;
    width: 18px;
    height: 18px;
    outline: 0;
    border: 1px solid transparent;
    cursor: pointer;
    color: gray;
    background-color: whitesmoke;
}

.commentInput input {
    width: 100%;
    font-size: 14px;
    font-weight: 450;
    outline: 0;
    border-radius: 12px;
    border: 1px solid transparent;
    margin: 10px 0 10px 8px;
    padding: 12px 24px 12px 14px;
    background-color: whitesmoke;
}