.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0px 0px 3px #ccc;
}

/** Header Left Section */
.header_left{
    position: absolute;
    display: flex;
    left: 0;
    align-items: center;
    margin-left: 15px;
}

.header_left img{
    height: 42px;
}

.header_search{
    display: flex;
    align-items: center;
    background-color: #F0F2F5;
    border-radius: 20px;
    padding: 0px 8px;
    height: 40px;
    margin: 0 5px;
}

.header_search .MuiSvgIcon-root{
    color: gray;
    height: 20px;
    padding: 0px 3px 0 0;
}

.header_search input{
    border: 0;
    outline: 0;
    background-color: transparent;
    min-width: 195px;
    font-size: 16px;
}

/** Header Middle Section */
.header_middle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_option{
    padding: 5px 40px;
    margin: 0 5px;
    cursor: pointer;
}

.header_option:hover{
    border-radius: 8px;
    background-color: whitesmoke;
}

.header_option svg{
    color: gray;
    font-size: 30px;
}

.header_option_active{
    position: relative;
}

.header_option_active::after{
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    right: 0;
    bottom: -5px;
    background-color: #2381fa;
}

.header_option_active svg{
    color: #2381fa;
}

/** Header Right Section */
.header_right{
    position: absolute;
    right: 0;
    display: flex;
    margin: 0 10px;
}

.header_right .css-78trlr-MuiButtonBase-root-MuiIconButton-root{
    width: 40px;
    height: 40px;
    margin: 0 5px;
    background-color: #F0F2F5;
    color: #000;
}

.dialogBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    top: 100%;
    right: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 8px;
    z-index: 1;
}

.dialogBox button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    background-color: #fff;
    width: 120px;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid gray;
    border-bottom: none;
}

.dialogBox button:last-child {
    border-bottom: 1px solid gray;
}

.dialogBox button:hover {
    background-color: whitesmoke;
    cursor: pointer;
}