.homepagePhotos {
    height: auto;
    width: 400px;
    background-color: #fff;
    margin: 15px 0;
    border-radius: 8px;
    padding: 18px;
}

.homepagePhotos_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.homepagePhotos_top a {
    font-size: 17px;
    font-weight: 500;
    color: #1B74E4;
    text-decoration: none;
    padding: 8px;
}

.homepagePhotos_top a:hover{
    background-color: whitesmoke;
    cursor: pointer;
}

.homepagePhotos_bottom {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.grid-container img {
    max-width: 100%;
    height: 120px;
}