.LeftsidebarRow{
    display: flex;
    align-items: center;
    padding: 6px 14px;
}

.LeftsidebarRow:hover{
    background-color: rgb(211 211 211/33%);
    cursor: pointer;
}

.LeftsidebarRow:first-child{
    margin-top: 15px;
}

.LeftsidebarRow p{
    font-weight: 500;
    padding-left: 8px;
}

.LeftsidebarRow .MuiAvatar-img{
    height: 35px;
    width: 35px;
}