.post{
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    padding: 15px;
}

.post_top{
    display: flex;
    justify-content: space-between;
}

.post_topleft{
    display: flex;
    align-items: center;
}

.postinfo{
    margin-left: 10px;
}

.postinfo p{
    font-size: 12px;
    display: flex;
    align-items: center;
}

.postinfo p svg{
    font-size: 12px;
    margin-left: 5px;
    margin-top: 3px;
}

.post_middle p{
    margin: 20px 10px;
}

.post_middle img{
    width: 100%;
}

.post_bottom{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    margin-top: 10px;
    padding-top: 10px;
}

.post_bottomOption{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.post_bottomOption p{
    margin-left: 5px;
}