.post {
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    padding: 15px;
    padding-bottom: 0;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
}

.post_top {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.post_topleft {
    display: flex;
    align-items: center;
}

.post_topright .MuiSvgIcon-root {
    border-radius: 50%;
    padding: 2px;
}

.post_topright .MuiSvgIcon-root:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.post_topright.clicked {
    background-color: #fff;
}

.dropdownMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    top: 70%;
    right: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 8px;
    z-index: 1;
}

.dropdownMenu button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 500;
    background-color: #fff;
    width: 150px;
    padding: 10px 30px 10px 4px;
    border: none;
    outline: none;
}

.dropdownMenu button:first-child {
    border-bottom: 1px solid gray;
}

.dropdownMenu button:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.postinfo {
    margin-left: 10px;
}

.postinfo h4 {
    font-size: 14px;
    font-weight: 600;
}

.postinfo p {
    font-size: 12px;
    display: flex;
    align-items: center;
}

.postinfo p svg {
    font-size: 12px;
    margin-left: 5px;
    margin-top: 3px;
}

.post_middle p {
    margin: 15px 0;
    letter-spacing: 0.2px;
}

.post_middle img {
    width: 100%;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.modal h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal input {
    padding: 10px 5px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid gray;
    outline: none;
    border-radius: 5px;
    margin: 10px 0;
}

.file-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-input-container .image-url-container input {
    width: 240px;
}

.file-input-label {
    padding: 10px 5px;
    background-color: #fff;
    color: black;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
}

.file-input-label:hover{
    background-color: whitesmoke;
    cursor: pointer;
}

.file-input {
    display: none;
}

/* .file-name {
    font-size: 14px;
    color: #333;
} */

/* .edited-image-container{
    border: 1px solid gray;
} */

.edited-image {
    width: 348px; /* Your desired width */
    height: 220px; /* Your desired height */
    object-fit: contain;
    border: 1px solid gray;
}

.noEditedimg{
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: red;
}

.modal button {
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid gray;
    outline: none;
    border-radius: 5px;
    width: 100px;
    background-color: #fff;
}

.modal button:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.modalBtns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
}

.post_bottom {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid lightgray;
}

.post_bottom .MuiSvgIcon-root {
    color: grey;
}

.post_bottomOption {
    display: flex;
    align-items: center;
    padding: 8px 56px;
    border-radius: 20px;
    margin: 5px 0;
    cursor: pointer;
}

.post_bottomOption:hover {
    border-radius: 5px;
    background-color: whitesmoke;
}

.post_bottomOption p {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
    color: grey;
}

.post_shareModal {
    position: absolute;
    inset: 200px 550px 200px 550px;
    border: 1px solid rgb(204, 204, 204);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    outline: none;
    overflow: auto;
}

.post_likeduserModal{
    position: absolute;
    inset: 200px 550px 200px 550px;
    border: 1px solid rgb(204, 204, 204);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    outline: none;
    overflow: auto;
}

.post_commentModal{
    position: absolute;
    inset: 200px 450px 200px 450px;
    border: 1px solid rgb(204, 204, 204);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    outline: none;
    overflow: auto;
}

.post_commentModal input{
    padding: 8px 5px;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 12px;
    outline: 0;
    background-color: whitesmoke;
}

.post_comment{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 15px;
    width: fit-content;
}

.post_comment:last-child{
    margin-bottom: 0px;
}

.post_commentInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8px;
    background-color: whitesmoke;
    border-radius: 18px;
    padding: 6px 14px;
}

.post_commentInfo_User{
    font-weight: 600;
}

.post_commentInfo_Comment{
    font-weight: 400;
    font-size: 17px;
}