.rightsidebar{
    /* margin-top: 18px; */
    /* margin-right: 10px; */
    height: 100vh;
    position: sticky;
    top: 0;
    flex: 0.265;
}

.rightsidebarWidget_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.rightsidebarWidget_bodyOptions{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.rightsidebarWidget_bodyOptions h4{
    margin-left: 10px;
    font-size: 14px;
}

.ml-10{
    margin-left: 10px;
}

.ml-10 p{
    font-size: 12px;
    color: gray;
}

.ml-10 svg{
    font-size: 16px;
    color: gray;
    margin-right: 10px;
}

.rightsidebarWidget_headerright svg{
    margin: 0 10px;
}
