/** HeaderNormal Section */
.headerNormal {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 4px 0px;
    box-shadow: 0px 0px 3px #ccc;
    background-color: #fff;
    z-index: 99;
}

/* HeaderNormal Left Section */
.headerNormalLeft {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.headerNormalLeft img,
.headerNormalLeft a {
    width: 42px;
    height: 42px;
}

.searchContainer {
    display: flex;
    align-items: center;
    margin: 0px 15px 0px 6px;
    border-radius: 25px;
    background-color: #F0F2F5;
}

.searchContainer .MuiSvgIcon-root {
    width: 22px;
    height: 22px;
    margin-left: 12px;
    color: gray;
}

.searchContainer input {
    max-width: 200px;
    font-size: 14px;
    padding: 10px 6px;
    border: 0;
    outline: 0;
    background-color: transparent;
}

/* HeaderNormal Middle Section */
.headerNormalMiddle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerNormalMiddle a {
    padding: 6px 38px;
    margin: 0 3px;
    border-radius: 6px;
    color: initial;
    text-decoration: none;
}

.headerNormalMiddle a:last-child {
    display: none;
}

.headerNormalMiddle a:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.headerNormalMiddle a svg {
    width: 28px;
    height: 28px;
    color: #65676B;
}

.headerNormalMiddle a.active {
    position: relative;
}

.headerNormalMiddle a.active:hover {
    background-color: transparent;
}

.headerNormalMiddle a.active::after {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    right: 0;
    bottom: -4px;
    background-color: #2381fa;
}

.headerNormalMiddle a.active svg {
    color: #2381fa;
}

/* HeaderNormal Right Section */
.headerNormalRight {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
}

.headerNormalRightOption {
    display: flex;
    margin-left: 8px;
    border-radius: 50%;
    color: #000;
    background-color: #E4E6EB;
}

.headerNormalRightOption:first-child {
    margin-left: 0;
}

.headerNormalRightOption .headerNormalRightOptionSvg {
    width: 42px;
    height: 42px;
    padding: 8px;
    cursor: pointer;
}

.headerNormalRightOption .headerNormalRightOptionImg {
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.headerNormalRightOption #msgLengthIcon {
    text-align: center;
    position: absolute;
    top: 2px;
    right: 94px;
    width: 16px;
    height: 16px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 50%;
    z-index: 9;
    color: #fff;
    background-color: #e41e3f;
}

.headerNormalRightOption #notiLengthIcon {
    position: absolute;
    top: 2px;
    right: 44px;
    width: 16px;
    height: 16px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    border-radius: 50%;
    z-index: 10;
    color: #fff;
    background-color: #e41e3f;
}

/** Responsive Media Queries */
@media only screen and (max-width: 950px) {

    /* HeaderNormal Left Section */
    .searchContainer .MuiSvgIcon-root {
        width: 42px;
        height: 42px;
        padding: 10px;
        margin-left: 0px;
    }

    .searchContainer input {
        display: none;
    }

    /* HeaderNormal Middle Section */
    .headerNormalMiddle a {
        padding: 6px 24px;
    }

    .headerNormalMiddle a:last-child{
        display: flex;
    }

    /* HeaderNormal Right Section */
    .headerNormalRightOption {
        display: none;
    }

    .headerNormalRightOption:last-child {
        display: flex;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 680px) {

}