/** UserPage Components Posts Section */
.userpageComponentsPost {
    width: 100%;
    display: flex;
    justify-content: center;
}

.userpageComponentsPost_Left {
    flex: 0.4;
}

.userpageComponentsPost_Right {
    flex: 0.6;
}

/** Responsive Media Queries */
@media only screen and (max-width: 900px) {

    /** UserPage Components Posts Section */
    .userpageComponentsPost {
        width: 75%;
        flex-direction: column;
    }
}

@media only screen and (max-width: 680px) {

    /** UserPage Components Posts Section */
    .userpageComponentsPost {
        width: 100%;
        flex-direction: column;
    }
}