/* ProfilePage Components Posts Section */
.ProfilePageComponentsPost {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 940px;    
}

.ProfilePageComponentsPost_Left,
.ProfilePageComponentsPost_Right {
    margin: 0;
    padding: 0;
}