/* FriendUserPage Friends Section */
.frienduserpage_Friends {
    height: auto;
    width: 400px;
    background-color: #fff;
    margin: 15px 0;
    border-radius: 8px;
    padding: 18px;
}

.frienduserpage_FriendsTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.frienduserpage_FriendsTop a {
    font-size: 17px;
    font-weight: 500;
    color: #1B74E4;
    text-decoration: none;
    padding: 8px;
}

.frienduserpage_FriendsTop a:hover{
    background-color: whitesmoke;
    cursor: pointer;
}

.frienduserpage_FriendsBottom {
    display: flex;
}

.frienduserpage_FriendsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.frienduserpage_FriendsContainer img {
    width: 125.5px;
    height: 120px;
}

.frienduserpage_FriendsContainer p {
    font-size: 14px;
    font-weight: 500;
}