/** HomePage Feed Posting Section */
.homepageFeedPosting {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 15px 15px 8px;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/* HomePage Feed Posting Top Section */
.homepageFeedPostingTop {
    display: flex;
    align-items: center;
    flex: 1;
}

.homepageFeedPostingTop input {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 10px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: #F0F2F5;
}

/* HomePage Feed Posting Bottom Section */
.homepageFeedPostingBottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    border-top: 1px solid lightgray;
    padding-top: 8px;
    margin-top: 12px;
}

.homepageFeedPostingBottomOption {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
}

.homepageFeedPostingBottomOption:hover {
    cursor: pointer;
    background-color: #E4E6EB;
}

.homepageFeedPostingBottomOption p {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #65676B;
}

.homepageFeedPostingBottomOption img {
    width: 22px;
}

/** HomePage Feed Posting Modal Section */
.postingModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 470px;
    border-radius: 10px;
    background-color: #fff;
    z-index: 999;
}

.postingModal .post_progress {
    width: -webkit-fill-available;
    margin: 0 16px;
}

progress {
    block-size: 4px;
}

.postingModal .image_progress {
    font-size: 12px;
    font-weight: 500px;
    margin: 5px 0 0 16px;
    color: green;
}

.postingModal #submitBtn {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #2391fa;
    margin: 14px;
    padding: 8px 5px;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: -webkit-fill-available;
    border-radius: 8px;
}

/* HomePage Feed Posting Modal Top Section */
.postingModal_Top {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    height: 55px;
}

.postingModal_Top p {
    font-size: 19px;
    font-weight: 700;
}

.postingModal_Top .MuiSvgIcon-root {
    position: absolute;
    top: 11px;
    right: 12px;
    width: 32px;
    height: 32px;
    padding: 6px;
    border-radius: 50%;
    background-color: #E4E6EB;
}

.postingModal_Top .MuiSvgIcon-root:hover {
    cursor: pointer;
}

/* HomePage Feed Posting Modal Middle Section */
.postingModal_Middle {
    display: flex;
    flex-direction: column;
    padding: 14px;
    padding-bottom: 0;
}

.postingModal_MiddleTop {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.postingModal_MiddleTop p {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
}

.postingModal_MiddleMiddle textarea {
    width: 100%;
    min-height: 100px;
    font-size: 22px;
    font-weight: 400;
    border: 0;
    outline: 0;
    padding: 10px 0;
    resize: none;
}

.postingModal_MiddleBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.postingModal_MiddleBottom img {
    width: 40px;
}

.postingModal_MiddleBottom .MuiSvgIcon-root {
    color: lightgray;
    width: 26px;
    height: 26px;
}

.postingModal_MiddleBottom img:hover,
.postingModal_MiddleBottom .MuiSvgIcon-root:hover{
    cursor: pointer;
}

/* DropdownBox Section */
.postingModal_MiddleBottom .EmojiPickerReact {
    width: 260px !important;
    height: 240px !important;
    flex-direction: column-reverse !important;
    border-radius: 8px !important;
    position: absolute !important;
    top: 30px;
    right: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    padding: 0;
    z-index: 1;
}

.EmojiPickerReact .epr-header .epr-header-overlay {
    display: none;
}

.EmojiPickerReact .epr-category-nav {
    padding: 3px !important;
    border-top: 1px solid lightgrey;
}

.EmojiPickerReact li.epr-emoji-category>.epr-emoji-category-content {
    grid-template-columns: repeat(8, 1fr) !important;
    margin: 0 !important;
}

.EmojiPickerReact button.epr-emoji .epr-emoji-img {
    max-height: 35px !important;
    max-width: 35px !important;
    min-height: 35px !important;
    min-width: 35px !important;
    padding: 4px !important;
}

.EmojiPickerReact button.epr-emoji {
    height: 35px !important;
    max-height: 35px !important;
    max-width: 35px !important;
    width: 35px !important;
}

.EmojiPickerReact .epr-preview {
    display: none !important;
}

.EmojiPickerReact li.epr-emoji-category>.epr-emoji-category-label {
    font-size: 13px !important;
    font-weight: 500 !important;
    height: min-content !important;
    padding: 0px !important;
}

.EmojiPickerReact .epr-category-nav {
    justify-content: initial !important;
}

/* HomePage Feed Posting Modal Bottom Section */
.postingModal_Bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 14px 14px 5px 14px;
    padding: 12px 10px;
}

.postingModal_BottomLeft p {
    font-size: 15px;
    font-weight: 600;
}