/* HomePage StoryReels Main */
.homepage_storyreels_Main{
    overflow: hidden;
    display: flex;
}

/* HomePage StoryReels Main Body Section */
.homepage_storyreels_Main_Body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1140px;
}

.homepage_storyreels_Main_BodyCard{
    background: radial-gradient(circle, #003cff, #21e5ff);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 220px;
    height: 330px;
    border-radius: 10px;
}

.homepage_storyreels_Main_BodyCard:hover{
    cursor: pointer;
}

.homepage_storyreels_Main_BodyCard img,
.homepage_storyreels_Main_BodyCard .MuiSvgIcon-root{
    padding: 8px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #ccc;
    margin-bottom: 5px;
}

.homepage_storyreels_Main_BodyCard p{
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}

.homepage_storyreels_Main_BodyCard.Photo{
    margin-right: 15px;
}