/** HomePage Feeds Posts Like Modals Section */
.HomePageFeedsPosts_LikeModal{
    position: absolute;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
    inset: 150px 450px 150px 450px;
    background: #fff;
    border-radius: 8px;
    outline: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* HomePage Feeds Posts Like Modals Top Section */
.HomePageFeedsPosts_LikeModal_Top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.HomePageFeedsPosts_LikeModal_Top .MuiSvgIcon-root {
    position: absolute;
    top: 12px;
    right: 8px;
    padding: 5px;
    border-radius: 50%;
    color: #65676B;
    background-color: #E4E6EB;
}

.HomePageFeedsPosts_LikeModal_Top .MuiSvgIcon-root:hover {
    cursor: pointer;
}

.HomePageFeedsPosts_LikeModal_Top p {
    font-size: 20px;
    font-weight: 600;
}

/* HomePage Feeds Posts Like Modals Middle Section */
.HomePageFeedsPosts_LikeModal_Middle {
    height: 255px;
    padding: 12px;
    overflow-y: auto;
}

.HomePageFeedsPosts_LikeModal_Middle .likedUsersInfo {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.HomePageFeedsPosts_LikeModal_Middle .likedUsersInfo:last-child {
    margin-bottom: 0px;
}

.HomePageFeedsPosts_LikeModal_Middle .likedUsersInfo span {
    font-size: 16px;
    font-weight: 600;
    margin-left: 8px;
}