/** HomePage Story Reels Section */
.homepageReels {
    width: 100%;
    height: 92vh;
    display: flex;
}

/* HomePage StoryReels Leftbar Section */
.homepageReelsLeftbar {
    position: relative;
    width: 460px;
    height: 100%;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
    background-color: #fff;
}

/* HomePage StoryReels Main Sidebar Top Section */
.homepageReelsLeftbar_Top {
    display: flex;
    flex-direction: column;
}

.homepageReelsLeftbar_Top #line {
    background-color: whitesmoke;
}

.homepageReelsLeftbar_Top #showtextForphoto {
    font-size: 15px;
    font-weight: 500;
    padding: 15px 10px;
    border-radius: 8px;
    margin: 15px 15px 0 15px;
}

.homepageReelsLeftbar_Top #showtextForphoto:hover {
    cursor: pointer;
    background-color: #E4E6EB;
}

/* HomePage StoryReels Main Sidebar TopTop Section */
.homepageReelsLeftbar_TopTop {
    padding: 0 15px;
}

.homepageReelsLeftbar_TopTop_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.homepageReelsLeftbar_TopTop_heading p {
    font-size: 22px;
    font-weight: 700;
}

.homepageReelsLeftbar_TopTop_heading .MuiSvgIcon-root {
    width: 32px;
    height: 32px;
    padding: 6px;
    border-radius: 50%;
    background-color: #E4E6EB;
}

.homepageReelsLeftbar_TopTop_heading .MuiSvgIcon-root:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
}

.homepageReelsLeftbar_TopTop_userinfo {
    display: flex;
    align-items: center;
    margin: 20px 0 25px 0;
}

.homepageReelsLeftbar_TopTop_userinfo img {
    width: 54px;
    height: 54px;
    object-fit: cover;
    border-radius: 50%;
}

.homepageReelsLeftbar_TopTop_userinfo p {
    font-weight: 600;
    font-size: 15px;
    margin-left: 10px;
}

/* HomePage StoryReels Main Sidebar TopBottom Section */
.homepageReelsLeftbar_TopBottom {
    padding: 0 15px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

.homepageReelsLeftbar_TopBottom textarea {
    margin-bottom: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    resize: none;
    outline: none;
    padding: 15px;
}

.homepageReelsLeftbar_TopBottom select {
    margin-bottom: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: none;
    padding: 15px 12px;
    font-size: 14px;
}

.homepageReelsLeftbar_TopBottom select option {
    font-size: 14px;
}

.homepageReelsLeftbar_TopBottom .bgColors {
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 12px 15px;
}

.homepageReelsLeftbar_TopBottom .bgColors p {
    font-size: 14px;
    font-weight: 400;
    color: #65676B;
    margin-bottom: 10px;
}

.homepageReelsLeftbar_TopBottom .bgColors .bgColorsInner {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
}

.homepageReelsLeftbar_TopBottom .bgColors .bgColorsInner .dot {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid transparent;
    transition: border-color 0.3s ease;
}

.homepageReelsLeftbar_TopBottom .bgColors .bgColorsInner .dot:hover {
    cursor: pointer;
}

.homepageReelsLeftbar_TopBottom .bgColors .bgColorsInner .dot.active {
    border-color: #0866FF;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.black {
    background-color: black;
}

.brown {
    background-color: brown;
}

.blueviolet {
    background-color: blueviolet;
}

.cyan {
    background-color: cyan;
}

.gold {
    background-color: gold;
}

.violet {
    background-color: violet;
}

.silver {
    background-color: silver;
}

.purple {
    background-color: purple;
}

/* HomePage StoryReels Main Sidebar Bottom Section */
.homepageReelsLeftbar_Bottom {
    /* position: fixed;
    bottom: 0;
    width: 360px; */
    position: sticky;
    bottom: 0px;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 8px;
    padding: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.homepageReelsLeftbar_Bottom button {
    padding: 8px 12px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}

.homepageReelsLeftbar_Bottom button:hover {
    cursor: pointer;
}

.homepageReelsLeftbar_Bottom #discardBtn {
    color: #000;
    background-color: #E4E6EB;
}

.homepageReelsLeftbar_Bottom #shareBtn {
    color: #fff;
    background-color: #0866FF;
}

/* HomePage StoryReels Main */
.homepageReelsMain {
    width: 100%;
    display: flex;
    align-items: center;
}

/* HomePage StoryReels Main Body Section */
.homepageReelsMain_Body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepageReelsMain_Body .contentDiv .textStoryContent,
.homepageReelsMain_Body .contentDiv .photoStoryContent {
    padding: 18px;
    width: 885px;
    height: 550px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

.homepageReelsMain_Body .contentDiv .textStoryContent p,
.homepageReelsMain_Body .contentDiv .photoStoryContent p {
    font-size: 14px;
    font-weight: 500;
}

.homepageReelsMain_Body .contentDiv .textStoryContent .textStoryContent_Inner,
.homepageReelsMain_Body .contentDiv .photoStoryContent .photoStoryContent_Inner {
    margin: 15px 0;
    border-radius: 8px;
    height: -webkit-fill-available;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
}

.homepageReelsMain_Body .contentDiv .textStoryContent .textStoryContent_Inner .textStoryWindow {
    height: -webkit-fill-available;
    border-radius: 8px;
    padding: 50px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.homepageReelsMain_Body .contentDiv .photoStoryContent .photoStoryContent_Inner .photoStoryWindow {
    height: -webkit-fill-available;
    border-radius: 8px;
    padding: 50px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.homepageReelsMain_Body .contentDiv .photoStoryContent .photoStoryContent_Inner .photoStoryWindow p,
.homepageReelsMain_Body .contentDiv .textStoryContent .textStoryContent_Inner .textStoryWindow p {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 22px;
    width: 100%;
    height: -webkit-fill-available;
    white-space: normal;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}

.homepageReelsMain_BodyCard {
    background: radial-gradient(circle, #003cff, #21e5ff);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 220px;
    height: 330px;
    border-radius: 10px;
}

.homepageReelsMain_BodyCard .hidden-input {
    display: none;
}

.homepageReelsMain_BodyCard:hover {
    cursor: pointer;
}

.homepageReelsMain_BodyCard img,
.homepageReelsMain_BodyCard .MuiSvgIcon-root {
    padding: 8px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #ccc;
    margin-bottom: 5px;
}

.homepageReelsMain_BodyCard p {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}

.homepageReelsMain_BodyCard.Photo {
    margin-right: 15px;
}