/** Homepage Leftbar Options Section */
.homepageLeftbarOptions{
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-radius: 8px;
}

.homepageLeftbarOptions:hover{
    cursor: pointer;
    background-color: rgb(211 211 211/33%);
}

.homepageLeftbarOptions p {
    font-size: 15px;
    font-weight: 500;
    padding-left: 12px;
}

.homepageLeftbarOptions .MuiAvatar-root{
    width: 36px;
    height: 36px;
}

.homepageLeftbarOptions .MuiSvgIcon-root{
    width: 36px;
    height: 36px;
    padding: 4px;
    border-radius: 50%;
    background-color: #E4E6EB;
}