/** Homepage Section */
.homepage {
    width: 100%;
    height: 93vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    gap: 80px;
    overflow-y: auto;
}

/* Homepage Leftbar Section */
.homepageLeftbar{
    position: sticky;
    top: 0px;
    width: 100%;
    height: 93vh;
    padding: 16px 0 0 8px;
    overflow-y: auto;
}

.homepageLeftbar a{
    text-decoration: none;
    color: initial;
}

.homepageLeftbar .terms{
    margin: 6px 0 0 12px;
}

.homepageLeftbar .terms p{
    font-size: 12px;
    font-weight: 400;
    white-space: pre-wrap;
    color: gray;
}

.homepageLeftbar .terms p span:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* HomePage Feed Section */
.homepageFeed{
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 16px 0;
}

/* HomePage Rightbar Section */
.homepageRightbar{
    position: sticky;
    top: 0px;
    width: 100%;
    height: 93vh;
    padding: 16px 8px 0 0;
    overflow-y: auto;
}

.homepageRightbarTop{
    border-bottom: 1px solid lightgray;
}

/* HomePage NewMessage Section */
.newMsg{
    position: absolute;
    bottom: 15px;
    right: 30px;
    display: flex;
    align-items: center;
    padding: 18px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
    background-color: #fff;
}

.newMsg:hover{
    cursor: pointer;
    background-color: #F2F5F7;
}

.newMsg #newMsgIcon{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/xFYw0bOHCD1.png");
    background-position: 0px -105px;
    background-size: 21px 304px;
}