/** HomePage Feeds Posts Section */
.homepageFeedsPosts {
    background-color: #fff;
    border-radius: 10px;
    margin-top: 15px;
    padding-bottom: 0;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
}

/** HomePage Feeds Posts Top Section */
.homepageFeedsPosts_Top {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

/* HomePage Feeds Posts Top Left Section */
.homepageFeedsPosts_TopLeft {
    display: flex;
    align-items: center;
}

.homepageFeedsPosts_TopLeft .userpostInfo {
    margin-left: 10px;
}

.userpostInfo .userpostInfoTop a {
    color: initial;
    text-decoration: none;
}

.userpostInfo .userpostInfoTop h4 {
    font-size: 14px;
    font-weight: 600;
}

.userpostInfo .userpostInfoTop h4:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: inherit;
}

.userpostInfo .userpostInfoBottom {
    display: flex;
    align-items: center;
    margin-top: 2px;
    color: #65676B;
}

.userpostInfo .userpostInfoBottom {
    font-size: 12px;
}

.userpostInfo .userpostInfoBottom p:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: inherit;
}

.userpostInfo .userpostInfoBottom span {
    margin: 0 4px 0 5px;
}

.userpostInfo .userpostInfoBottom svg {
    width: 14px;
    height: 14px;
}

/* HomePage Feeds Posts Top Right Section */
.homepageFeedsPosts_TopRight {
    display: flex;
    align-items: center;
}

.homepageFeedsPosts_TopRight .MuiSvgIcon-root {
    width: 36px;
    height: 36px;
    padding: 6px;
    border-radius: 50%;
    color: #65676B;
}

.homepageFeedsPosts_TopRight .MuiSvgIcon-root:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.homepageFeedsPosts_TopRight.clicked {
    background-color: #fff;
}

.homepageFeedsPosts_TopRight .postSetting {
    position: absolute;
    top: 50px;
    right: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.postSetting .postSettingOption {
    width: 100%;
    display: flex;
    padding: 8px;
    border-radius: 8px;
}

.postSetting .postSettingOption:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.postSettingOptionLeft {
    display: flex;
    margin-top: 5px;
}

.postSettingOptionLeft #savePostIcon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yu/r/doFgS_h9Kyh.png');
    background-position: 0px -83px;
    background-size: 41px 503px;
}

.postSettingOptionLeft #deletePostIcon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yp/r/faYX-HAY-C_.png');
    background-position: 0px -172px;
    background-size: auto;
}

.postSettingOptionLeft #editPostIcon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yr/r/g64EaKoBhMs.png');
    background-position: 0px -258px;
    background-size: auto;
}

.postSettingOptionRight {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.postSettingOptionRight h5 {
    font-size: 14px;
    font-weight: 600;
    color: #050505;
    margin-bottom: 3px;
}

.postSettingOptionRight p {
    font-size: 12px;
    font-weight: 400;
    color: #65676B;
}

/** HomePage Feeds Posts Middle Section */
.homepageFeedsPosts_Middle .square {
    margin: 0;
}

/* HomePage Feeds Posts Middle Top Section */
.homepageFeedsPosts_Middle .homepageFeedsPosts_MiddleTop .homepageFeedsPosts_MiddleTopInner #postMsg {
    padding: 0 15px 15px;
    letter-spacing: 0.2px;
}

.homepageFeedsPosts_Middle .homepageFeedsPosts_MiddleTop .homepageFeedsPosts_MiddleTopInner #postImg,
.homepageFeedsPosts_Middle .homepageFeedsPosts_MiddleTop .homepageFeedsPosts_MiddleTopInner #postVideo {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    background-color: #000;
}

/** HomePage Feeds Posts Edit Modals Section */
.EditModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

/* HomePage Feeds Posts Edit Modals Top Section */
.EditModal_Top h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HomePage Feeds Posts Edit Modals Middle Section */
.EditModal_Middle #msgInput {
    padding: 10px 5px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid gray;
    outline: none;
    border-radius: 5px;
    margin: 10px 0;
}

.EditModal_Middle #mediaInput {
    width: 240px;
}

.EditModal_Middle #mediaInputLabel {
    padding: 10px 5px;
    background-color: #fff;
    color: black;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
}

.EditModal_Middle #mediaInputLabel:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.EditModal_Middle #editedImg,
.EditModal_Middle #originalImg,
.EditModal_Middle #editedVideo,
.EditModal_Middle #originalVideo {
    width: 348px;
    height: 220px;
    object-fit: contain;
    border: 1px solid gray;
}

.EditModal_Middle #noMedia {
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: red;
}

/* HomePage Feeds Posts Edit Modals Bottom Section */
.EditModal_Bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
}

.EditModal_Bottom button {
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid gray;
    outline: none;
    border-radius: 5px;
    width: 100px;
    background-color: #fff;
}

.EditModal_Bottom button:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

/* HomePage Feeds Posts Middle Bottom Section */
.homepageFeedsPosts_MiddleBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
}

.homepageFeedsPosts_MiddleBottom p {
    font-size: 14px;
    font-weight: 450;
    color: gray;
}

.homepageFeedsPosts_MiddleBottom p:hover {
    cursor: pointer;
    text-decoration: underline;
}

/** HomePage Feeds Posts Bottom Section */
.homepageFeedsPosts_Bottom {
    padding: 0 15px;
}

.homepageFeedsPosts_Bottom .skeletonPost_Bottom {
    padding: 15px 0;
}

/* HomePage Feeds Posts Bottom Inner Section */
.homepageFeedsPosts_Bottom .homepageFeedsPosts_BottomInner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    border-top: 1px solid lightgray;
}

.homepageFeedsPosts_BottomInner .homepageFeedsPosts_BottomOption {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 8px;
    margin: 5px 0;
}

.homepageFeedsPosts_BottomOption:hover {
    cursor: pointer;
    background-color: #E4E6EB;
}

.homepageFeedsPosts_BottomOption p {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #65676B;
}

.homepageFeedsPosts_BottomOption .MuiSvgIcon-root {
    width: 21px;
    color: #65676B;
}