/* HomePage Story Reels */
.homepage_StoryReels{
    display: flex;
    align-items: center;
}

.homepage_StoryReels_Leftbar{
    overflow-y: auto;
    overflow-x: hidden;
}

.homepage_StoryReels_Main{
    overflow-y: hidden;
    overflow-x: hidden;
}