/** HomePage Feeds Posts Share Modals Section */
.homepageFeedPosts_ShareModal {
    width: 560px;
    height: 460px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    background: #fff;
}

/* HomePage Feeds Posts Share Modals Top Section */
.homepageFeedPosts_ShareModalTop {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-bottom: 1px solid #CED0D4;
    box-sizing: border-box;
}

.homepageFeedPosts_ShareModalTop .MuiSvgIcon-root {
    position: absolute;
    right: 10px;
    padding: 4px;
    border-radius: 50%;
    color: #050505;
    background-color: #E4E6EB;
}

.homepageFeedPosts_ShareModalTop .MuiSvgIcon-root:hover {
    cursor: pointer;
}

.homepageFeedPosts_ShareModalTop p {
    font-size: 20px;
    font-weight: 600;
}