/** HomePage Feed Posting Section */
.homepageFeedPosting {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 8px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
    background-color: #fff;
}

/* HomePage Feed Posting Top Section */
.homepageFeedPostingTop {
    display: flex;
    align-items: center;
}

.homepageFeedPostingTop .inputContainer {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 12px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: #F0F2F5;
}

.homepageFeedPostingTop .inputContainer:hover {
    cursor: pointer;
    background-color: #E4E6EB;
}

.homepageFeedPostingTop .inputContainer p {
    width: 100%;
    color: #65676B;
}

/* HomePage Feed Posting Bottom Section */
.homepageFeedPostingBottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    padding-top: 8px;
    margin-top: 12px;
    border-top: 1px solid lightgray;
}

.homepageFeedPostingBottomOption {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
}

.homepageFeedPostingBottomOption:hover {
    cursor: pointer;
    background-color: #E4E6EB;
}

.homepageFeedPostingBottomOption p {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #65676B;
}

.homepageFeedPostingBottomOption img {
    width: 22px;
}

/** Homepage Feed Posting Modal Section */
.postMiddleTop .postEditModal {
    width: 100%;
    height: 100%;
}

.postingModal {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    border-radius: 10px;
    z-index: 999;
    background-color: #fff;
}

/* Homepage Feed Posting Modal Top Section */
.postingModalTop {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgray;
}

.postingModalTop p {
    font-size: 19px;
    font-weight: 700;
}

.postingModalTop .MuiSvgIcon-root {
    position: absolute;
    top: 11px;
    right: 12px;
    width: 32px;
    height: 32px;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #E4E6EB;
}

/* Post Edit Middle Section */
.postingModalMiddle {
    display: flex;
    flex-direction: column;
    padding: 14px 14px 0 14px;
}

.postingModalMiddleTop {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.postingModalMiddleTop p {
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
}

.postingModalMiddleMiddle {
    position: relative;
    display: flex;
    align-items: end;
}

.postingModalMiddleMiddle textarea {
    width: 100%;
    font-weight: 400;
    padding: 0px;
    border: 0;
    outline: 0;
    resize: none;
    color: #050505;
}

.postingModalMiddleMiddle textarea#mediaMsg {
    font-size: 14px;
}

.postingModalMiddleMiddle textarea#nonmediaMsg {
    font-size: 22px;
}

.postingModalMiddleMiddle svg {
    color: #E4E6EB;
}

.postingModalMiddleBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 15px;
}

.postingModalMiddleBottom .mediaContainer {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 15px;
}

.mediaContainer img#mediaImg,
.mediaContainer video#mediaVideo {
    width: 100%;
    height: 280px;
    padding: 8px;
    border-radius: 8px;
    object-fit: contain;
    border: 1px solid #CED0D4;
    background-color: #050505;
}

.postingModalMiddleBottom svg#closeIcon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 28px;
    height: 28px;
    padding: 5px;
    border-radius: 50%;
    color: #050505;
    background-color: #fff;
}

.postingModalMiddleBottom img {
    width: 40px;
    cursor: pointer;
}

.postingModalMiddleBottom .MuiSvgIcon-root {
    width: 26px;
    height: 26px;
    cursor: pointer;
    color: lightgray;
}

/* Post Edit Bottom Section */
.postingModalBottom {
    display: flex;
    flex-direction: column;
}

.postingModalBottomTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 14px 14px 5px 14px;
    padding: 12px 10px;
}

.postingModalBottomTop p {
    font-size: 15px;
    font-weight: 600;
}

.postingModalBottomBottom {
    margin: 14px;
}

.postingModalBottomBottom button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 0;
    border: 0;
    outline: 0;
    border-radius: 8px;
    cursor: pointer;
}

.postingModalBottomBottom button#submitBtn {
    color: #fff;
    background-color: #2391fa;
}

.postingModalBottomBottom button#notSubmitBtn {
    color: #BCC0C4;
    background-color: #E4E6EB;
}

.postingModalBottomBottom .loadingSpin {
    width: 22px;
    height: 22px;
    border: 3px solid #2391fa;
    border-top: 3px solid #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Emoji Picker Section */
.postingModalMiddleBottom .EmojiPickerReact,
.postingModalMiddleMiddle .EmojiPickerReact {
    width: 260px !important;
    height: 240px !important;
    flex-direction: column-reverse !important;
    border-radius: 8px !important;
    position: absolute !important;
    top: 30px;
    right: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    padding: 0;
    z-index: 1;
}

.EmojiPickerReact .epr-header .epr-header-overlay {
    display: none;
}

.EmojiPickerReact .epr-category-nav {
    padding: 3px !important;
    border-top: 1px solid lightgrey;
}

.EmojiPickerReact li.epr-emoji-category>.epr-emoji-category-content {
    grid-template-columns: repeat(8, 1fr) !important;
    margin: 0 !important;
}

.EmojiPickerReact button.epr-emoji .epr-emoji-img {
    max-height: 35px !important;
    max-width: 35px !important;
    min-height: 35px !important;
    min-width: 35px !important;
    padding: 4px !important;
}

.EmojiPickerReact button.epr-emoji {
    height: 35px !important;
    max-height: 35px !important;
    max-width: 35px !important;
    width: 35px !important;
}

.EmojiPickerReact .epr-preview {
    display: none !important;
}

.EmojiPickerReact li.epr-emoji-category>.epr-emoji-category-label {
    font-size: 13px !important;
    font-weight: 500 !important;
    height: min-content !important;
    padding: 0px !important;
}

.EmojiPickerReact .epr-category-nav {
    justify-content: initial !important;
}