/** HomePage Rightbar GroupsList Section */

/* HomePage Rightbar GroupsList Top Section */
.homepageRightbarGroupsList_Top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 2px 10px;
}

.homepageRightbarGroupsList_TopLeft h4 {
    font-size: 15px;
    font-weight: 500;
    color: #65676B;
}

.homepageRightbarGroupsList_TopRight svg {
    width: 32px;
    height: 32px;
    padding: 6px;
    border-radius: 50%;
    color: #65676B;
}

.homepageRightbarGroupsList_TopRight svg:hover {
    cursor: pointer;
    background-color: rgb(211 211 211/33%);
}

/* HomePage Rightbar GroupsList Body Section */
.homepageRightbarGroupsList_BodyOptions {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
}

.homepageRightbarGroupsList_BodyOptions:hover {
    cursor: pointer;
    background-color: rgb(211 211 211/33%);
}

.homepageRightbarGroupsList_BodyOptions p {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
}

.homepageRightbarGroupsList_BodyOptions svg.addIcon {
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
    background-color: #E4E6EB;
}