/** HomePage Rightbar FriendsList Section */

/* HomePage Rightbar FriendsList Top Section */
.homepageRightbarFriendList_Top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2px 10px;
}

.homepageRightbarFriendList_TopLeft h4{
    color: #65676B;
    font-size: 15px;
    font-weight: 500;
}

.homepageRightbarFriendList_TopRight{
    display: flex;
    align-items: center;
}

.homepageRightbarFriendList_TopRight svg{
    color: #65676B;
    width: 22px;
    height: 22px;
    padding: 6px;
    border-radius: 50%;
}

.homepageRightbarFriendList_TopRight svg:first-child{
    margin-right: 4px;
}

.homepageRightbarFriendList_TopRight svg:hover{
    cursor: pointer;
    background-color: rgb(211 211 211/33%);
}

/* HomePage Rightbar FriendsList Body Section */
.homepageRightbarFriendList_BottomOption{
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
}

.homepageRightbarFriendList_BottomOption:hover{
    cursor: pointer;
    background-color: rgb(211 211 211/33%);
}

.homepageRightbarFriendList_BottomOption p{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
}

.homepageRightbarFriendList_BottomOption a{
    color: initial;
    text-decoration: none;
    display: flex;
    align-items: center;
}