/** HomePage Rightbar FriendsList Section */

/* HomePage Rightbar FriendsList Top Section */
.homepage_rightbar_friendListTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2px 10px;
}

.homepage_rightbar_friendListTopLeft h4{
    color: #65676B;
    font-size: 15px;
    font-weight: 500;
}

.homepage_rightbar_friendListTopRight{
    display: flex;
    align-items: center;
}

.homepage_rightbar_friendListTopRight svg{
    color: #65676B;
    width: 22px;
    height: 22px;
    padding: 6px;
    border-radius: 50%;
}

.homepage_rightbar_friendListTopRight svg:first-child{
    margin-right: 4px;
}

.homepage_rightbar_friendListTopRight svg:hover{
    cursor: pointer;
    background-color: rgb(211 211 211/33%);
}

/* HomePage Rightbar FriendsList Body Section */
.homepage_rightbar_friendListBody_Options{
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
}

.homepage_rightbar_friendListBody_Options:hover{
    cursor: pointer;
    background-color: rgb(211 211 211/33%);
}

.homepage_rightbar_friendListBody_Options p{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
}

.homepage_rightbar_friendListBody_Options a{
    color: initial;
    text-decoration: none;
    display: flex;
    align-items: center;
}