/** HomePage Feeds Posts Section */
.homepage_feedsPosts {
    background-color: #fff;
    border-radius: 10px;
    margin-top: 15px;
    padding: 15px;
    padding-bottom: 0;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
}

/** HomePage Feeds Posts Top Section */
.homepage_feedsPosts_top {
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* HomePage Feeds Posts Top Left Section */
.homepage_feedsPosts_topleft {
    display: flex;
    align-items: center;
}

.homepage_feedsPostsinfo {
    margin-left: 10px;
}

.homepage_feedsPostsinfo h4 {
    font-size: 14px;
    font-weight: 600;
}

.homepage_feedsPostsinfo p {
    font-size: 12px;
    display: flex;
    align-items: center;
}

.homepage_feedsPostsinfo p svg {
    font-size: 12px;
    margin-left: 5px;
    margin-top: 3px;
}

/* HomePage Feeds Posts Top Right Section */
.homepage_feedsPosts_topright .MuiSvgIcon-root {
    border-radius: 50%;
    padding: 2px;
}

.homepage_feedsPosts_topright .MuiSvgIcon-root:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.homepage_feedsPosts_topright.clicked {
    background-color: #fff;
}

.dropdownMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    top: 70%;
    right: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 8px;
    z-index: 1;
}

.dropdownMenu button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 500;
    background-color: #fff;
    width: 150px;
    padding: 10px 30px 10px 4px;
    border: none;
    outline: none;
}

.dropdownMenu button:first-child {
    border-bottom: 1px solid gray;
}

.dropdownMenu button:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

/** HomePage Feeds Posts Middle Section */
.homepage_feedsPosts_middle #homepage_feedsPosts_middleMessage {
    margin: 15px 0;
    letter-spacing: 0.2px;
}

.homepage_feedsPosts_middle #homepage_feedsPosts_middleImg {
    width: 100%;
}

.homepage_feedsPosts_editingModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.homepage_feedsPosts_editingModal h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage_feedsPosts_editingModal input {
    padding: 10px 5px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid gray;
    outline: none;
    border-radius: 5px;
    margin: 10px 0;
}

.file-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-input-container .image-url-container input {
    width: 240px;
}

.file-input-label {
    padding: 10px 5px;
    background-color: #fff;
    color: black;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
}

.file-input-label:hover{
    background-color: whitesmoke;
    cursor: pointer;
}

.file-input {
    display: none;
}

.edited-image {
    width: 348px;
    height: 220px;
    object-fit: contain;
    border: 1px solid gray;
}

.noEditedimg{
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: red;
}

.homepage_feedsPosts_editingModal .btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
}

.btns button {
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid gray;
    outline: none;
    border-radius: 5px;
    width: 100px;
    background-color: #fff;
}

.btns button:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

/* HomePage Feeds Posts Middle Reactions */
.homepage_feedsPosts_ReactInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
}

.homepage_feedsPosts_ReactInfo p{
    font-size: 14px;
    font-weight: 450;
    color: gray;
}

.homepage_feedsPosts_ReactInfo p:hover{
    cursor: pointer;
    text-decoration: underline;
}

/** HomePage Feeds Posts Bottom Section */
.homepage_feedsPosts_bottom {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid lightgray;
}

.homepage_feedsPosts_bottom .MuiSvgIcon-root {
    color: grey;
}

.homepage_feedsPosts_bottomOption {
    display: flex;
    align-items: center;
    padding: 7px 50px;
    border-radius: 20px;
    margin: 5px 0;
    cursor: pointer;
}

.homepage_feedsPosts_bottomOption:hover {
    border-radius: 5px;
    background-color: whitesmoke;
}

.homepage_feedsPosts_bottomOption p {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
    color: grey;
}

/** HomePage Feeds Posts Bottom Modals for Like, Comment and Share */
/* Modal of Like, Comment and Share */
.Modal{
    position: absolute;
    inset: 150px 450px 150px 450px;
    border: 1px solid rgb(204, 204, 204);
    background: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    outline: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

.modalTop{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.modalTop .MuiSvgIcon-root{
    position: absolute;
    top: -3px;
    right: -9px;
    padding: 5px;
}

.modalTop .MuiSvgIcon-root:hover{
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 50%;
}

.modalTop p{
    font-size: 20px;
    font-weight: 600;
}

.modalTop .line {
    border: none;
    border-top: 1px solid lightgray;
    width: 100%;
    margin: 5px 0 10px;
}

.modalMiddle {
    height: 255px;
    overflow-y: auto;
}

.modalBottom{
    position: fixed;
}

/**  Likes Modal Section */
.homepage_feedsPosts_likes{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.homepage_feedsPosts_likes:last-child{
    margin-bottom: 0px;
}

.homepage_feedsPosts_likes span{
    font-size: 16px;
    font-weight: 600;
    margin-left: 8px;
}

/** Comments Modal Section */
.homepage_feedsPosts_comments{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 15px;
    width: fit-content;
}

.homepage_feedsPosts_comments:last-child{
    margin-bottom: 0px;
}

.homepage_feedsPosts_commentInfo{
    display: flex;
    flex-direction: column;
}

/* Inner Part */
.homepage_feedsPosts_commentInner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8px;
    background-color: whitesmoke;
    border-radius: 18px;
    padding: 6px 14px;
}

.homepage_feedsPosts_commentInner .homepage_feedsPosts_commentUser{
    font-size: 16px;
    font-weight: 600;
}

.homepage_feedsPosts_commentInner .homepage_feedsPosts_commentComment{
    font-weight: 400;
    font-size: 15px;
    max-width: 410px;
    word-wrap: break-word;
}

/* Outer Part */
.homepage_feedsPosts_commentOuter{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 3px 0 0 22px;
}

.homepage_feedsPosts_commentOuter .homepage_feedsPosts_commentTimestamp{
    font-weight: 500;
    font-size: 12px;
    margin-left: 15px;
    color: #65676B;
}

.homepage_feedsPosts_commentOuter button{
    font-size: 12px;
    font-weight: 500;
    outline: none;
    border: none;
    background-color: initial;
    color: #65676B;
}

.homepage_feedsPosts_commentOuter .homepage_feedsPosts_commentTimestamp:hover,
.homepage_feedsPosts_commentOuter button:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* Bottom Part of the Comment Model */
.modalBottom .homepage_feedsPosts_commentInput{
    position: relative;
    display: flex;
    align-items: center;
}

.modalBottom .homepage_feedsPosts_commentInput input{
    margin: 10px 0;
    font-size: 14px;
    font-weight: 450;
    border: 1px solid transparent;
    border-radius: 12px;
    outline: 0;
    width: 425px;
    margin-left: 8px;
    background-color: whitesmoke;
    padding: 12px 24px 12px 14px;
}

.modalBottom .homepage_feedsPosts_commentInput .MuiSvgIcon-root{
    position: absolute;
    right: 4px;
    border: 1px solid transparent;
    outline: 0;
    background-color: whitesmoke;
    color: gray;
    width: 16px;
    height: 16px;
}

.modalBottom .homepage_feedsPosts_commentInput .MuiSvgIcon-root:hover{
    cursor: pointer;
}