/** HomePageFeeds Reels Section */
.homepageFeedReels {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
    background-color: #fff;
}

.homepageFeedReels a {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    color: initial;
}

.homepageFeedReels a:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.homepageFeedReels a .MuiSvgIcon-root {
    width: 40px;
    height: 40px;
    padding: 6px;
    margin-right: 12px;
    border-radius: 50%;
    color: #1877F2;
    background-color: #EBF5FF;
}

.homepageFeedReelsInfo h2 {
    font-size: 18px;
    font-weight: 600;
}

.homepageFeedReelsInfo p {
    font-size: 14px;
    font-weight: 400;
    color: gray;
}

/** HomePageFeeds Reels Scroll Section */
.homepageFeedReels_Scroll {
    position: relative;
    overflow-x: auto;
}

.homepageFeedReels_Scroll button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 50%;
    z-index: 999;
    background-color: #fff;
}

.homepageFeedReels_Scroll #leftScroll {
    top: 45%;
    left: 20px;
    cursor: pointer;
}

.homepageFeedReels_Scroll #rightScroll {
    top: 45%;
    right: 20px;
    cursor: pointer;
}

/* HomePageFeeds Reels ScrollReels Section */
.homepageFeedReels_ScrollReels {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.homepageFeedReels_ScrollReels::-webkit-scrollbar {
    display: none;
}

.homepageFeedReels_ScrollReels a {
    text-decoration: none;
    color: initial;
}

.homepageFeedReels_ScrollReelsInner {
    width: 143px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 8px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -7px rgb(0, 0, 0, 0.75);
}

.homepageFeedReels_ScrollReelsInner img {
    flex: 0.8;
    object-fit: cover;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.homepageFeedReels_ScrollReelsInner .ScrollReelsCreate {
    position: relative;
    flex: 0.2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
}

.homepageFeedReels_ScrollReelsInner .ScrollReelsCreate .MuiSvgIcon-root {
    position: absolute;
    top: 0%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    padding: 3px;
    border: 3px solid #fff;
    border-radius: 50%;
    color: #fff;
    background-color: #1877F2;
}

.homepageFeedReels_ScrollReelsInner .ScrollReelsCreate h5 {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 8px;
}

.homepageFeedReels_ScrollReelsStories {
    position: relative;
    width: 143px;
    height: 250px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    margin-right: 8px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -7px rgb(0, 0, 0, 0.75);
}

.homepageFeedReels_ScrollReelsStories:last-child {
    margin-right: 0px;
}

.homepageFeedReels_ScrollReelsStories .MuiAvatar-root {
    width: 36px;
    height: 36px;
    border: 3px solid #2381fa;
}

.homepageFeedReels_ScrollReelsStories p {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.ReelsStoriesTextOverlay {
    text-align: center;
    font-size: 12px;
    word-break: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    color: #fff;
}