/** HomePage Messages Section */
.HomePageMessages {
    position: absolute;
    bottom: 0;
    right: 85px;
    width: 300px;
    height: 440px;
    background: #fff;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
}

/* HomePage Messages Top Section */
.HomePageMessages_Top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.HomePageMessages_TopLeft p {
    font-size: 14px;
    font-weight: 500;
    color: #050505;
}

.HomePageMessages_TopRight .MuiSvgIcon-root {
    width: 20px;
    color: #0866FF;
}

.HomePageMessages_TopRight .MuiSvgIcon-root:hover {
    cursor: pointer;
}

/* HomePage Messages Middle Section */
.HomePageMessages_Middle {
    display: flex;
    align-items: flex-start;
    padding: 8px 15px;
    border-bottom: 1px solid lightgray;
}

.HomePageMessages_Middle #toText {
    font-size: 14px;
    font-weight: 400;
    color: #050505;
    margin-right: 12px;
}

.HomePageMessages_MiddleRight {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.HomePageMessages_MiddleRight input {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #050505;
    outline: none;
    border: none;
}

.HomePageMessages_MiddleRight .selectedUserSection {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

.selectedUserSection .selectedUser {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-radius: 6px;
    background-color: #EBF5FF;
    margin: 0 8px 8px 0;
}

.selectedUserSection .selectedUser p {
    color: #0866FF;
    font-size: 12px;
    font-weight: 500;
    margin-right: 5px;
}

.selectedUserSection .selectedUser .MuiSvgIcon-root {
    width: 14px;
    height: fit-content;
    color: #0866FF;
}

.selectedUserSection .selectedUser .MuiSvgIcon-root:hover {
    cursor: pointer;
}

/* HomePage Messages Bottom Section */
.HomePageMessages_Bottom {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 14px 8px;
    height: 45vh;
    width: -webkit-fill-available;
    overflow-y: auto;
}

/* HomePage Messages Bottom Selected User Messaging Section */
.HomePageMessages_Bottom .selectedUserMessagingSection {
    width: -webkit-fill-available;
}

/* HomePage Messages Bottom Selected User Messaging Top Section */
.selectedUserMessagingSection .selectedUserMessagingSection_Top {
    display: flex;
    flex-direction: column;
    height: 34vh;
    overflow-y: auto;
    position: relative;
}

.selectedUserMessagingSection_TopTop{
    align-items: center;
    padding: 35px 10px;
}

.selectedUserMessagingSection_TopTop .singleUserInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding: 20px 12px 18px; */
    width: -webkit-fill-available;
}

.singleUserInfo .MuiAvatar-root {
    width: 60px;
    height: 60px;
}

.singleUserInfo p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 8px;
}

.selectedUserMessagingSection_TopTop .multiUserInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    word-wrap: break-word;
    width: -webkit-fill-available;
}

.multiUserInfo:nth-child(1) .MuiAvatar-root {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 25px;
    right: 130px;
    z-index: 1111;
}

.multiUserInfo:nth-child(2) .MuiAvatar-root {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 12px;
    left: 130px;
}

.multiUserInfo:nth-child(n+3) .MuiAvatar-root{
    display: none;
}

.multiUserInfo p{
    font-size: 16px;
    font-weight: 600;
    padding: 35px 8px 0 0;
}

.message.sent {
    width: -webkit-fill-available;
    padding: 0 10px;
    margin-bottom: 8px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.message.received {
    width: -webkit-fill-available;
    padding: 0 10px;
    margin-bottom: 8px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.message.sent #messageTimestamp,
.message.received #messageTimestamp {
    color: #65676B;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 12px;
}

.message.sent #messageContent {
    border-radius: 18px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 400;
    background-color: #0084FF;
    color: #fff;
}

.message.received #messageContent {
    border-radius: 18px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 400;
    background-color: #F0F0F0;
    color: #000;
}

/* HomePage Messages Bottom Selected User Messaging Bottom Section */
.selectedUserMessagingSection .selectedUserMessagingSection_Bottom {
    width: 285px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 10px;
}

.selectedUserMessagingSection_Bottom .MuiSvgIcon-root {
    color: #0866FF;
    width: 24px;
    height: 24px;
}

.selectedUserMessagingSection_Bottom .MuiSvgIcon-root:hover {
    cursor: pointer;
}

.selectedUserMessagingSection_Bottom .inputSection {
    position: relative;
    width: -webkit-fill-available;
}

.inputSection input {
    width: -webkit-fill-available;
    font-size: 14px;
    font-weight: 400;
    color: #050505;
    padding: 8px 30px 8px 12px;
    margin: 0 3px;
    outline: none;
    border-radius: 20px;
    background-color: #F0F0F0;
    border: none;
}

.inputSection .emojiIcon {
    position: absolute;
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* HomePage Messages Bottom Searched User Section */
.HomePageMessages_Bottom .searchedUserSection {
    width: -webkit-fill-available;
}

.searchedUserSection .searchedUserSectionInner {
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    padding: 8px 6px;
    margin-bottom: 3px;
    border-radius: 8px;
}

.searchedUserSectionInner:hover {
    cursor: pointer;
    background-color: rgb(211 211 211/33%);
}

.searchedUserSectionInner .MuiAvatar-root {
    width: 35px;
    height: 35px;
}

.searchedUserSectionInner p {
    font-size: 14px;
    font-weight: 400;
    margin-left: 12px;
}


/** Friend Messages Section */
.FriendMessages {
    position: fixed;
    bottom: 0;
    right: 85px;
    width: 300px;
    height: 440px;
    background: #fff;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
}

/* Friend Messages Top Section */
.FriendMessages_Top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
    padding: 8px;
}

.FriendMessages_TopLeft {
    display: flex;
    align-items: center;
}

.FriendMessages_TopLeft .MuiAvatar-root {
    width: 35px;
    height: 35px;
    margin-right: 6px;
}

.FriendMessages_TopLeft p {
    font-size: 14px;
    font-weight: 500;
    color: #050505;
}

.FriendMessages_TopRight .MuiSvgIcon-root {
    width: 20px;
    color: #0866FF;
}

.FriendMessages_TopRight .MuiSvgIcon-root:hover {
    cursor: pointer;
}

/* Friend Messages Middle Section */
.FriendMessages_Middle {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 45vh;
    width: 100%;
    overflow-y: auto;
}

.FriendMessages_Middle .friendIntro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px 12px 12px;
}

.FriendMessages_Middle .friendIntro .MuiAvatar-root {
    width: 60px;
    height: 60px;
}

.FriendMessages_Middle .friendIntro h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
}

.FriendMessages_Middle .friendIntro p {
    font-size: 12px;
    font-weight: 400;
    color: #65676B;
    padding-bottom: 6px;
}

.FriendMessages_Middle .message.sent {
    width: -webkit-fill-available;
    padding: 0 10px;
    margin-bottom: 8px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.FriendMessages_Middle .message.received {
    width: -webkit-fill-available;
    padding: 0 10px;
    margin-bottom: 8px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.FriendMessages_Middle .message.sent #messageTimestamp,
.FriendMessages_Middle .message.received #messageTimestamp {
    color: #65676B;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 12px;
}

.FriendMessages_Middle .message.sent #messageContent {
    border-radius: 18px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 400;
    background-color: #0084FF;
    color: #fff;
}

.FriendMessages_Middle .message.received #messageContent {
    border-radius: 18px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 400;
    background-color: #F0F0F0;
    color: #000;
}

/* Friend Messages Bottom Section */
.FriendMessages_Bottom {
    display: flex;
    align-items: center;
    width: inherit;
    position: fixed;
    bottom: 8px;
}

.FriendMessages_Bottom .MuiSvgIcon-root {
    color: #0866FF;
    width: 24px;
    height: 24px;
}

.FriendMessages_Bottom .MuiSvgIcon-root:hover {
    cursor: pointer;
}

.FriendMessages_Bottom .inputSection {
    position: relative;
    width: -webkit-fill-available;
}

.FriendMessages_Bottom .inputSection input {
    width: -webkit-fill-available;
    font-size: 14px;
    font-weight: 400;
    color: #050505;
    padding: 8px 30px 8px 12px;
    margin: 0 3px;
    outline: none;
    border-radius: 20px;
    background-color: #F0F0F0;
    border: none;
}

.FriendMessages_Bottom .inputSection .emojiIcon {
    position: absolute;
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
    cursor: pointer;
}

/** Emoji Picker Section */
.selectedUserMessagingSection_Bottom .EmojiPickerReact,
.FriendMessages_Bottom .EmojiPickerReact {
    width: 200px !important;
    height: 220px !important;
    flex-direction: column-reverse !important;
    border-radius: 8px !important;
    position: absolute !important;
    top: -235px;
    right: 35px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    padding: 0;
    z-index: 1;
}

.EmojiPickerReact .epr-header .epr-header-overlay {
    display: none;
}

.EmojiPickerReact .epr-category-nav {
    padding: 3px !important;
    border-top: 1px solid lightgrey;
}

.EmojiPickerReact li.epr-emoji-category>.epr-emoji-category-content {
    grid-template-columns: repeat(8, 1fr) !important;
    margin: 0 !important;
}

.EmojiPickerReact button.epr-emoji .epr-emoji-img {
    max-height: 23px !important;
    max-width: 23px !important;
    min-height: 23px !important;
    min-width: 23px !important;
    padding: 2px !important;
}

.EmojiPickerReact button.epr-emoji {
    height: 23px !important;
    max-height: 23px !important;
    max-width: 23px !important;
    width: 23px !important;
}

.EmojiPickerReact .epr-preview {
    display: none !important;
}

.EmojiPickerReact li.epr-emoji-category>.epr-emoji-category-label {
    font-size: 12px !important;
    font-weight: 500 !important;
    height: min-content !important;
    padding: 2px !important;
}

aside.EmojiPickerReact.epr-main:has(input:placeholder-shown) .epr-category-nav {
    background-position-y: 40px !important;
}

.EmojiPickerReact .epr-category-nav {
    justify-content: initial !important;
}