/** HomePage Feeds Posts Section */
.homepageFeedsPosts {
    background-color: #fff;
    border-radius: 10px;
    margin-top: 15px;
    padding: 15px;
    padding-bottom: 0;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
}

/** HomePage Feeds Posts Top Section */
.homepageFeedsPosts_Top {
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* HomePage Feeds Posts Top Left Section */
.homepageFeedsPosts_TopLeft {
    display: flex;
    align-items: center;
}

.homepageFeedsPosts_TopLeft .userpostInfo {
    margin-left: 10px;
}

.homepageFeedsPosts_TopLeft .userpostInfo h4 {
    font-size: 14px;
    font-weight: 600;
}

.homepageFeedsPosts_TopLeft .userpostInfo p {
    font-size: 12px;
    display: flex;
    align-items: center;
}

.homepageFeedsPosts_TopLeft .userpostInfo p svg {
    font-size: 12px;
    margin-left: 5px;
    margin-top: 3px;
}

/* HomePage Feeds Posts Top Right Section */
.homepageFeedsPosts_TopRight .MuiSvgIcon-root {
    border-radius: 50%;
    padding: 2px;
}

.homepageFeedsPosts_TopRight .MuiSvgIcon-root:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.homepageFeedsPosts_TopRight.clicked {
    background-color: #fff;
}

.homepageFeedsPosts_TopRight .postSetting {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    top: 70%;
    right: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 8px;
    z-index: 1;
}

.homepageFeedsPosts_TopRight .postSetting button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 500;
    background-color: #fff;
    width: 150px;
    padding: 10px 30px 10px 4px;
    border: none;
    outline: none;
}

.homepageFeedsPosts_TopRight .postSetting button:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.homepageFeedsPosts_TopRight .postSetting button:first-child {
    border-bottom: 1px solid gray;
}

/** HomePage Feeds Posts Middle Section */

/* HomePage Feeds Posts Middle Top Section */
.homepageFeedsPosts_Middle .homepageFeedsPosts_MiddleTop .homepageFeedsPosts_MiddleTopInner #postMsg{
    margin: 15px 0;
    letter-spacing: 0.2px;
}

.homepageFeedsPosts_Middle .homepageFeedsPosts_MiddleTop .homepageFeedsPosts_MiddleTopInner #postImg {
    width: 100%;
}

.homepageFeedsPosts_Middle .homepageFeedsPosts_MiddleTop .homepageFeedsPosts_MiddleTopInner #postVideo {
    width: 100%;
}

/* HomePage Feeds Posts Middle Bottom Section */
.homepageFeedsPosts_MiddleBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
}

.homepageFeedsPosts_MiddleBottom p {
    font-size: 14px;
    font-weight: 450;
    color: gray;
}

.homepageFeedsPosts_MiddleBottom p:hover {
    cursor: pointer;
    text-decoration: underline;
}

/** HomePage Feeds Posts Bottom Section */

/* HomePage Feeds Posts Bottom Inner Section */
.homepageFeedsPosts_Bottom .homepageFeedsPosts_BottomInner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    margin-top: 5px;
    border-top: 1px solid lightgray;
}

.homepageFeedsPosts_BottomInner .homepageFeedsPosts_BottomOption {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 8px;
    margin: 5px 0;
}

.homepageFeedsPosts_BottomOption:hover {
    cursor: pointer;
    background-color: #E4E6EB;
}

.homepageFeedsPosts_BottomOption p {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #65676B;
}

.homepageFeedsPosts_BottomOption .MuiSvgIcon-root {
    width: 21px;
    color: #65676B;
}