/** HomePage Feeds Reels Section */
.homepageFeedReels {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
    background-color: #fff;    
}

.homepageFeedReels a {
    text-decoration: none;
    color: initial;
}

/* HomePage Feeds Reels Inner Section */
.homepageFeedReelsInner {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
}

.homepageFeedReelsInner:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.homepageFeedReelsInner .MuiSvgIcon-root {
    width: 36px;
    height: 36px;
    padding: 8px;
    border-radius: 50%;
    color: #1877F2;
    background-color: #EBF5FF;
}

.homepageFeedReelsInner .homepageFeedReelsInnerInfo {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.homepageFeedReelsInner h2 {
    font-size: 18px;
    font-weight: 600;
}

.homepageFeedReelsInner p {
    font-size: 14px;
    font-weight: 400;
    color: gray;
}

/* HomePage Feeds Reels Scroll Section */
.homepageFeedReels_Scroll {
    position: relative;
    overflow: auto;
}

.homepageFeedReels_Scroll button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 50%;
    z-index: 999;
    background-color: #fff;
}

.homepageFeedReels_Scroll #leftScroll {
    top: 45%;
    left: 20px;
}

.homepageFeedReels_Scroll #rightScroll {
    top: 45%;
    right: 20px;
}

/* HomePage Feeds Reels Scroll Reels Section */
.homepageFeedReels_ScrollReels {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.homepageFeedReels_ScrollReels::-webkit-scrollbar {
    display: none;
}

.homepageFeedReels_ScrollReels a {
    height: fit-content;
    text-decoration: none;
    color: initial;
}

.homepageFeedReels_ScrollReelsInner {
    position: relative;
    width: 133px;
    height: 244px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -7px rgb(0, 0, 0, 0.75);
}

.homepageFeedReels_ScrollReelsInner img {
    height: 142px;
    flex: 1;
    object-fit: cover;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.homepageFeedReels_ScrollReelsInner .ScrollReelsCreate {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 0.25;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
}

.homepageFeedReels_ScrollReelsInner .ScrollReelsCreate h3 {
    font-size: 14px;
    font-weight: 550;
    padding-top: 8px;
}

.homepageFeedReels_ScrollReelsInner .ScrollReelsCreate .MuiSvgIcon-root {
    position: absolute;
    bottom: 32px;
    left: 51px;
    padding: 3px;
    border: 3px solid #fff;
    border-radius: 50%;
    color: #fff;
    background-color: #1877F2;
}

.homepageFeedReels_ScrollReelsStories {
    position: relative;
    width: 110px;
    height: 220px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    margin-left: 8px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -7px rgb(0, 0, 0, 0.75);
}

.homepageFeedReels_ScrollReelsStories .MuiAvatar-root {
    width: 35px;
    height: 35px;
    border: 3px solid #2381fa;
}

.homepageFeedReels_ScrollReelsStories p {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
}

.ReelsStoriesTextOverlay {
    text-align: center;
    font-size: 12px;
    color: #fff;
    background-color: transparent;
}