/** HomePage Feeds Posts Comment Modals Section */
.HomePageFeedsPosts_CommentModal {
    position: absolute;
    width: 520px;
    height: 380px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 8px;
    outline: none;
    overflow: hidden;
}

/* HomePage Feeds Posts Comment Modals Top Section */
.HomePageFeedsPosts_CommentModal_Top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.HomePageFeedsPosts_CommentModal_Top .MuiSvgIcon-root {
    position: absolute;
    top: 12px;
    right: 8px;
    padding: 5px;
    border-radius: 50%;
    color: #65676B;
    background-color: #E4E6EB;
}

.HomePageFeedsPosts_CommentModal_Top .MuiSvgIcon-root:hover {
    cursor: pointer;
}

.HomePageFeedsPosts_CommentModal_Top p {
    font-size: 20px;
    font-weight: 600;
}

/* HomePage Feeds Posts Comment Modals Middle Section */
.HomePageFeedsPosts_CommentModal_Middle {
    /* width: 100%; */
    height: 225px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
}

.HomePageFeedsPosts_CommentModal_Middle:last-child {
    margin-bottom: 0px;
}

.HomePageFeedsPosts_CommentModal_Middle .comments {
    display: flex;
    margin-bottom: 15px;
}

.HomePageFeedsPosts_CommentModal_Middle .comments:last-child {
    margin-bottom: 0px;
}

.comments .commentInner {
    display: flex;
    flex-direction: column;
}

.commentInner .commentTop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8px;
    background-color: whitesmoke;
    border-radius: 18px;
    padding: 6px 14px;
}

.commentInner .commentTop h4 {
    font-size: 16px;
    font-weight: 600;
}

.commentInner .commentTop p {
    font-weight: 400;
    font-size: 15px;
    max-width: 410px;
    word-wrap: break-word;
}

.commentInner .commentBottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 3px 0 0 22px;
}

.commentInner .commentBottom button {
    font-size: 12px;
    font-weight: 500;
    outline: none;
    border: none;
    background-color: initial;
    color: #65676B;
}

.commentInner .commentBottom p {
    font-weight: 500;
    font-size: 12px;
    margin-left: 15px;
    color: #65676B;
}

.commentInner .commentBottom button:hover,
.commentInner .commentBottom p:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* HomePage Feeds Posts Comment Modals Bottom Section */
.HomePageFeedsPosts_CommentModal_Bottom {
    position: fixed;
    padding: 0 12px;
}

.HomePageFeedsPosts_CommentModal_Bottom .commentInput {
    position: relative;
    display: flex;
    align-items: center;
}

.commentInput .MuiSvgIcon-root {
    position: absolute;
    right: 6px;
    border: 1px solid transparent;
    outline: 0;
    background-color: whitesmoke;
    color: gray;
    width: 18px;
    height: 18px;
}

.commentInput .MuiSvgIcon-root:hover {
    cursor: pointer;
}

.commentInput input {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 450;
    border: 1px solid transparent;
    border-radius: 12px;
    outline: 0;
    width: 408px;
    margin-left: 8px;
    background-color: whitesmoke;
    padding: 12px 24px 12px 14px;
}