/** HomePage Feeds Posts Section */
.homepageFeedsPosts {
    background-color: #fff;
    border-radius: 10px;
    margin-top: 15px;
    padding: 15px;
    padding-bottom: 0;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.1);
}

/** HomePage Feeds Posts Top Section */
.homepageFeedsPosts_Top {
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* HomePage Feeds Posts Top Left Section */
.homepageFeedsPosts_TopLeft {
    display: flex;
    align-items: center;
}

.homepageFeedsPosts_TopLeft .userpostInfo {
    margin-left: 10px;
}

.homepageFeedsPosts_TopLeft .userpostInfo h4 {
    font-size: 14px;
    font-weight: 600;
}

.homepageFeedsPosts_TopLeft .userpostInfo p {
    font-size: 12px;
    display: flex;
    align-items: center;
}

.homepageFeedsPosts_TopLeft .userpostInfo p svg {
    font-size: 12px;
    margin-left: 5px;
    margin-top: 3px;
}

/* HomePage Feeds Posts Top Right Section */
.homepageFeedsPosts_TopRight .MuiSvgIcon-root {
    border-radius: 50%;
    padding: 2px;
}

.homepageFeedsPosts_TopRight .MuiSvgIcon-root:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.homepageFeedsPosts_TopRight.clicked {
    background-color: #fff;
}

.homepageFeedsPosts_TopRight .postSetting {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    top: 70%;
    right: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 8px;
    z-index: 1;
}

.homepageFeedsPosts_TopRight .postSetting button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 500;
    background-color: #fff;
    width: 150px;
    padding: 10px 30px 10px 4px;
    border: none;
    outline: none;
}

.homepageFeedsPosts_TopRight .postSetting button:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.homepageFeedsPosts_TopRight .postSetting button:first-child {
    border-bottom: 1px solid gray;
}

/** HomePage Feeds Posts Middle Section */

/* HomePage Feeds Posts Middle Top Section */
.homepageFeedsPosts_Middle .homepageFeedsPosts_MiddleTop .homepageFeedsPosts_MiddleTopInner #postMsg{
    margin: 15px 0;
    letter-spacing: 0.2px;
}

.homepageFeedsPosts_Middle .homepageFeedsPosts_MiddleTop .homepageFeedsPosts_MiddleTopInner #postImg {
    width: 100%;
}

.homepageFeedsPosts_Middle .homepageFeedsPosts_MiddleTop .homepageFeedsPosts_MiddleTopInner #postVideo {
    width: 100%;
}

.homepageFeedsPosts_Middle .editModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.editModal .editModal_Top h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.editModal .editModal_Middle #msgInput {
    padding: 10px 5px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid gray;
    outline: none;
    border-radius: 5px;
    margin: 10px 0;
}

.editModal .editModal_Middle #mediaInput {
    width: 240px;
}

.editModal .editModal_Middle #mediaInputLabel{
    padding: 10px 5px;
    background-color: #fff;
    color: black;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
}

.editModal .editModal_Middle #mediaInputLabel:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.editModal .editModal_Middle #editedImg,
.editModal .editModal_Middle #originalImg {
    width: 348px;
    height: 220px;
    object-fit: contain;
    border: 1px solid gray;
}

.editModal .editModal_Middle #editedVideo,
.editModal .editModal_Middle #originalVideo {
    object-fit: cover;
    width: -webkit-fill-available;
}

.editModal .editModal_Middle #noMedia {
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: red;
}

.editModal .editModal_Bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
}

.editModal .editModal_Bottom button {
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid gray;
    outline: none;
    border-radius: 5px;
    width: 100px;
    background-color: #fff;
}

.editModal .editModal_Bottom button:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

/* HomePage Feeds Posts Middle Bottom Section */
.homepageFeedsPosts_MiddleBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
}

.homepageFeedsPosts_MiddleBottom p {
    font-size: 14px;
    font-weight: 450;
    color: gray;
}

.homepageFeedsPosts_MiddleBottom p:hover {
    cursor: pointer;
    text-decoration: underline;
}

/** HomePage Feeds Posts Bottom Section */

/* HomePage Feeds Posts Bottom Inner Section */
.homepageFeedsPosts_Bottom .homepageFeedsPosts_BottomInner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    margin-top: 5px;
    border-top: 1px solid lightgray;
}

.homepageFeedsPosts_BottomInner .homepageFeedsPosts_BottomOption {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 8px;
    margin: 5px 0;
}

.homepageFeedsPosts_BottomOption:hover {
    cursor: pointer;
    background-color: #E4E6EB;
}

.homepageFeedsPosts_BottomOption p {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #65676B;
}

.homepageFeedsPosts_BottomOption .MuiSvgIcon-root {
    width: 21px;
    color: #65676B;
}

/* HomePage Feeds Posts Bottom Modals Section */
.homepageFeedsPosts_BottomModals .Modal{
    position: absolute;
    inset: 150px 450px 150px 450px;
    border: 1px solid rgb(204, 204, 204);
    background: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    outline: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

.Modal hr {
    border: none;
    border-top: 1px solid lightgray;
    width: 100%;
    margin: 5px 0 10px;
}

.Modal .ModalTop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.ModalTop .MuiSvgIcon-root {
    position: absolute;
    top: -3px;
    right: -9px;
    padding: 5px;
}

.ModalTop .MuiSvgIcon-root:hover {
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 50%;
}

.ModalTop p {
    font-size: 20px;
    font-weight: 600;
}

.ModalMiddle {
    height: 255px;
    overflow-y: auto;
}

.ModalBottom {
    position: fixed;
}

/* Liked User Modal Section */
.likedUserModal {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.likedUserModal:last-child {
    margin-bottom: 0px;
}

.likedUserModal span {
    font-size: 16px;
    font-weight: 600;
    margin-left: 8px;
}

/* Commented User Modal Section */
.commentedUserModal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 15px;
    width: fit-content;
}

.commentedUserModal:last-child {
    margin-bottom: 0px;
}

.comments{
    display: flex;
    flex-direction: column;
}

.comments .commentInner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8px;
    background-color: whitesmoke;
    border-radius: 18px;
    padding: 6px 14px;
}

.comments .commentInner h4 {
    font-size: 16px;
    font-weight: 600;
}

.comments .commentInner p {
    font-weight: 400;
    font-size: 15px;
    max-width: 410px;
    word-wrap: break-word;
}

.comments .commentOuter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 3px 0 0 22px;
}

.comments .commentOuter button {
    font-size: 12px;
    font-weight: 500;
    outline: none;
    border: none;
    background-color: initial;
    color: #65676B;
}

.comments .commentOuter p {
    font-weight: 500;
    font-size: 12px;
    margin-left: 15px;
    color: #65676B;
}

.comments .commentOuter button:hover,
.comments .commentOuter p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.ModalBottom .commentInput {
    position: relative;
    display: flex;
    align-items: center;
}

.ModalBottom .commentInput .MuiSvgIcon-root {
    position: absolute;
    right: 4px;
    border: 1px solid transparent;
    outline: 0;
    background-color: whitesmoke;
    color: gray;
    width: 16px;
    height: 16px;
}

.ModalBottom .commentInput .MuiSvgIcon-root:hover {
    cursor: pointer;
}

.ModalBottom .commentInput input {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 450;
    border: 1px solid transparent;
    border-radius: 12px;
    outline: 0;
    width: 425px;
    margin-left: 8px;
    background-color: whitesmoke;
    padding: 12px 24px 12px 14px;
}